// toDO: заменить вывод блока через шаблон
.g_row
  .g_col_d_12.g_col_m_12.text_area

    - if @promo.image.file?
      = image_tag @promo.image.url(:card), class: "image left"
    = @promo.content.html_safe

= render_mobile_photo_slider(@promo.promo_images)
