// toDO: заменить вывод блока через шаблон
.g_row
  .g_col_d_12.g_col_m_12.text_area

    - if @news_item.image.file?
      = image_tag @news_item.image.url(:card), class: "image left"
    = @news_item.content.html_safe

= render_mobile_photo_slider(@news_item.news_images)
