.order_stage#choose_payment_type_stage
  .title
    | Выбора типа действия
  .fields
    .field
      label
        | Тип действия:
      = select_tag "payment_type", options_for_select(PaymentType.all.collect { |u| [u.name, u.id] })