.order_stage#choose_payment_method_stage
  .title
    | Выбора способа оплаты билетов
  .fields
    .field
      label
        | Способ оплаты:
      = select_tag 'payment_method_id', options_for_select(PaymentMethod.all.collect { |u| [u.name, u.id] })