.order_stage#confirm_buy_stage
  .title
    | Подтверждение заказа
  .fields.accepts
    table.table
      thead
        tr
          th
          th
            a href="#"
              | Отделение
          th
            a href="#"
              | Ряд
          th
            a href="#"
              | Место
          th
            a href="#"
              | Скидка
          th
            a href="#"
              | Цена
          th
      tbody
    #print_checked_tickets
      .btn.grey_btn
        | Напечатать отмеченные