.order_stage#fill_personal_data_stage
  .title
    | Заполнение персональных данных
  .fields
    .field
      label
        | Выкупить на точке продажи
      = check_box_tag 'buy_on_sale_point', 'accepted', true
    .field
      label
        | Доставить курьером по г. Ижевску
      = check_box_tag 'delivery_by', 'accepted', false
    .field
      label for="fio"
        | ФИО покупателя: *
      = text_field_tag 'fio'
    .field
      label for="phone"
        | Телефон: *
      = text_field_tag 'phone'
    .field
      label
        | Адрес доставки: *
      = text_area_tag 'delivery_address'