.popup_cnt#order_master.js_order-master
  .bg
  .section
    .form_bg
      .container_2
        = form_tag(ajax_release_tickets_path, method: "post") do
          = render "admin/schemas/order_master/view_order_stage"
          = render "admin/schemas/order_master/choose_payment_type_stage"
          = render "admin/schemas/order_master/fill_personal_data_stage"
          = render "admin/schemas/order_master/choose_payment_method_stage"
          = render "admin/schemas/order_master/confirm_buy_stage"
          = render "admin/schemas/order_master/success_stage"
          .custom_btns
            .btn.blue_btn#next_master_stage
              | Далее
            .btn.red_btn#cancel_master_stage
              | Отмена

          #choose_blank_type
            .container
              .title
                | Выберите тип бланка
              .block
                = select_tag 'counter_type', options_for_select([ ["Общий", "normal"], ["Фирменный", "special"] ], "Общий")
              .special_btns
                .btn.blue_btn#confirm_print
                  | Напечатать
                .btn.red_btn#cancel_print
                  | Отменить

          #print_results
            .container
              .title
                | Корректно ли распечатан билет?
              .special_btns
                .btn.blue_btn#yes_print
                  | Да
                .btn.red_btn#repeat_print
                  | Повторить печать
