.order_stage#success_buy_stage
  .title
    | Успешное завершение заказа
  .block
    .content
      | Оформление заказа произошло успешно

  .fields.order_state
    table.table
      thead
        tr
          th
            a href="#"
              | Отделение
          th
            a href="#"
              | Ряд
          th
            a href="#"
              | Место
          th
            a href="#"
              | Скидка
          th
            a href="#"
              | Цена
          th
      tbody
