.order_stage#view_order_stage
  .title
    | Состав заказа
  .fields.order_state
    table.table
      thead
        tr
          th
            a href="#"
              | Отделение
          th
            a href="#"
              | Ряд
          th
            a href="#"
              | Место
          th
            a href="#"
              | Скидка
          th
            a href="#"
              | Цена
          th
      tbody