.list_element_info
  .date.date_panel
    = (@one_news.published_at.nil?) ? "—" : @one_news.published_at.strftime("%d.%m.%Y")
  = link_to @one_news.name , Rails.application.routes.url_helpers.news_path(@one_news.id), class: "label"
  .text
    = @one_news.description
  = link_to "Подробнее...", Rails.application.routes.url_helpers.mobile_news_path(@one_news.id), class: "link"