#test_schema
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - if params[:sector_id].nil?
        - @sectors.each do |sector|
          = link_to sector.name, "?sector_id=#{sector.id}"
      - else
        = render "desktop/schemas/test_schema/sectors/"+Sector.find(params[:sector_id]).alias

