- if (current_system_user.system_user_role.alias != "kassir")
  = link_to t("custom.modules.reports.actual_blank_counters"), Rails.application.routes.url_helpers.reports_current_blanks_state_path, class: "link", target: "_blank"
- else
  <script> $(function(){$("#blank_request_system_user_id").parent().hide();}); </script>
= form_for @item do |f|
  = render_form(f, @fields).html_safe
  = f.submit t('labels.buttons.save'), class: "btn blue_btn"