.sub_block
  .label
    = t("custom.modules.blank_requests.edit_record")
    - if current_system_user.system_user_role.alias == "administrator"
      = link_to t ('custom.modules.tickets.all_records'), "/admin/advanced_schemas/#{@item.id}", class: "btn blue_btn"

  = render 'form'
