.sub_block
  .label
    = t("custom.modules.blank_requests.all_records")
    - if !@object[:paths][:new_path].nil?
      = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"
  // done: Убрать ссылку в карточку сущности
  = render_filter(@path, nil)
  = render_table(@fields, @items)
  = will_paginate @items
- unless @request.nil?
  - @request.each do |r|
    = r.blank_type.name
      | - Blank type name
      br
    = r.blank_delivery_type.name
      | - Blank delivery type name
      br
    = r.system_user_id
      | - user id
      br
    = r.event_item_id
      | - event item id
      br
    = r.value
      | - value
      br
- unless @prev_request.nil?
  - @prev_request.each do |r|
    = r.blank_type.name
      | - Blank type name
      br
    = r.blank_delivery_type.name
      | - Blank delivery type name
      br
    = r.system_user_id
      | - user id
      br
    = r.event_item_id
      | - event item id
      br
    = r.value
      | - value
      br

