#metallurg_without_dancing
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - sector_object = @parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group

    .schema
      - sector_object = @central_parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  - if (seat.row == 7 && seat.number == 35)
                    li.seat.non_active
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: sector_object
                  - if ((seat.row == 3) && (seat.number == 1)) || ((seat.row == 5) && (seat.number == 1))
                    li.seat.non_active

    .schema
      - sector_object = @amfiteatr
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: sector_object

        - grouped_seats = get_grouped_seats @loga1, @event_item
        .sub_group.metallurg_loga_1
          .header
            .label
              = @loga1.name
          ul.places
            - grouped_seats.group_by(&:row).each do |row, seats|
              li.row
                ul
                  - seats.reverse.each do |seat|
                    = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group
                    - if (row == 2 && seat.number == 1)
                      =place_empty_seats 1
                    - if (row == 3 && seat.number == 1)
                      =place_empty_seats 2
                    - if (row == 4 && seat.number == 1)
                      =place_empty_seats 4

        - grouped_seats = get_grouped_seats @loga2, @event_item
        .sub_group.metallurg_loga_2
          .header
            .label
              = @loga2.name
          ul.places
            - grouped_seats.group_by(&:row).each do |row, seats|
              li.row
                ul
                  - seats.each do |seat|
                    - if (row == 2 && seat.number == 1)
                      =place_empty_seats 1
                    - if (row == 3 && seat.number == 1)
                      =place_empty_seats 2
                    - if (row == 4 && seat.number == 1)
                      =place_empty_seats 4
                    = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group

    .schema.metallurg_balkon
      .group
        .header
          .label
            = @balkon.name

        - sector_object = @balkon
        - rows = get_hall_rows sector_object
        - grouped_seats = get_grouped_seats sector_object, @event_item
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group
                  - if ((seat.row == 1) && (seat.number == 12))
                    =place_empty_seats 1
                  - if ((seat.row == 2 || seat.row == 3) && (seat.number == 13))
                    =place_empty_seats 1
                  - if (row >= 4 && row <= 7  && (seat.number == 26 || seat.number == 6))
                    =place_empty_seats 2
                  - if (row >= 8 && row <= 9 && seat.number == 30)
                    =place_empty_seats 2
                  - if (row >= 8 && row <= 9 && seat.number == 10)
                    =place_empty_seats 2
                  - if (row == 10 && seat.number == 32)
                    =place_empty_seats 2
