.list_element
  .list_element_info
    - if (@category_enabled)
      .category
        | Раздел:&nbsp;
        = link_to "Новости", "#", class: "link"
    .date.date_panel
      | 18.10.2014
    .label
      | Nullam posuere odio tortor, id lacinia lectus blandit non.
    .text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem ac odio lacinia molestie at scelerisque sem. Quisque ac pharetra massa. Morbi vestibulum fermentum laoreet. Nullam posuere odio tortor, id lacinia lectus blandit non. Donec turpis enim, egestas vitae vehicula nec, mollis vel mi. Duis in mi nec eros ultricies luctus. Cras aliquet nec mauris nec rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    = link_to "подробнее...", "#", class: "link"