.g_row
  .g_col_d_12
    ul.list_elements_without_image
      - @items.each do |item|
        li
          .list_element
            .list_element_info
              .date.date_panel
                - if item[3] == "promos"
                  | Акции
                - if item[3] == "events"
                  | События
              .label
                = item[1]
              .text
                = item[2]
              - if item[3] == "promos"
                = link_to "подробнее...", "/archive/promos/#{item[0]}", class: "link"
              - if item[3] == "events"
                = link_to "подробнее...", "/archive/events/#{item[0]}", class: "link"