.g_row
  .g_col_d_12
    = form_tag("", :id=>"cart", :method=>'post', :multipart => true)
      .table
        table
          tr.header
            th width="50"
              = check_box_tag "check"
            th colspan="5" width="700"
              | Название
            th
              | Количество
            th
              | Стоимость
          - @items = {:m =>1, :d => 2, :s =>3, :a =>1, :b => 2, :c =>3}
          - @items.each do |item|
            tr
              td
                = check_box_tag "check"
              td colspan="5"
                | Название концерта 10.10.2014 9 сектор 5 место
              td
                | 1
              td
                | 3000 руб.
          tr.footer
            td
            td
            td
            td
            td
            td.visible.td_border_radius width="100"
              | Итого:
            td.visible
              | 5 шт.
            td.visible
              | 5000 руб.
      = link_to "Очистить", "#", id: "clear_cart"
      = submit_tag "Оформить заказ", class: "button"