.g_row#certificate
  .g_col_d_8
    = image_tag @static_page.image.url(:list), class: "image", style: "width: 100%;"
  .g_col_d_4
    = form_tag("", :id => "fake_certificate_form", :method => 'post', :multipart => true) do
      = label_tag "certificate_value", "Введите номинал сертификата"
      = text_field_tag "certificate_value", nil, :class => "input"
      | &nbsp;руб.
      = submit_tag "Заказать сертификат", :class => "button small_button"

.g_row
  .g_col_d_12

    p.text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem ac odio lacinia molestie at scelerisque sem. Quisque ac pharetra massa. Morbi vestibulum fermentum laoreet. Nullam posuere odio tortor, id lacinia lectus blandit non. Donec turpis enim, egestas vitae vehicula nec, mollis vel mi. Duis in mi nec eros ultricies luctus. Cras aliquet nec mauris nec rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sollicitudin, justo ultricies ullamcorper dapibus, justo lorem gravida dolor, ut adipiscing nisi eros eu nisi. Pellentesque ipsum justo, ornare ultricies urna a, faucibus scelerisque erat. Curabitur sed tellus nulla. Proin tellus enim, pharetra ac nulla sit amet, lobortis tempor justo. Donec vitae elit felis. Nullam eget iaculis nulla.
    p.text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem ac odio lacinia molestie at scelerisque sem.
    .text_header
      | Lorem ipsum dolor sit amet
    p.text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sem ac odio lacinia molestie at scelerisque sem. Quisque ac pharetra massa. Morbi vestibulum fermentum laoreet. Nullam posuere odio tortor, id lacinia lectus blandit non. Donec turpis enim, egestas vitae vehicula nec, mollis vel mi. Duis in mi nec eros ultricies luctus. Cras aliquet nec mauris nec rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sollicitudin, justo ultricies ullamcorper dapibus, justo lorem gravida dolor, ut adipiscing nisi eros eu nisi. Pellentesque ipsum justo, ornare ultricies urna a, faucibus scelerisque erat. Curabitur sed tellus nulla. Proin tellus enim, pharetra ac nulla sit amet, lobortis tempor justo. Donec vitae elit felis. Nullam eget iaculis nulla.
    ul.bullet_list
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    p.text
      | Lorem ipsum dolor sit amet, consectetur
      | &nbsp;
      = link_to "adipiscing elit", "#", class: "link"
      | .Integer vitae sem ac odio lacinia molestie at scelerisque sem. Quisque ac pharetra massa. Morbi vestibulum fermentum laoreet. Nullam posuere odio tortor, id lacinia lectus blandit non. Donec turpis enim, egestas vitae vehicula nec, mollis vel mi. Duis in mi nec eros ultricies luctus. Cras aliquet nec mauris nec rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sollicitudin, justo ultricies ullamcorper dapibus, justo lorem gravida dolor, ut adipiscing nisi eros eu nisi. Pellentesque ipsum justo, ornare ultricies urna a, faucibus scelerisque erat. Curabitur sed tellus nulla. Proin tellus enim, pharetra ac nulla sit amet, lobortis tempor justo. Donec vitae elit felis. Nullam eget iaculis nulla.

.g_row
  .g_col_d_12
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>

.popup.certificate
  .bg
  .section
    .form_bg
      .header
        | Заказать сертификат
      p.text
        | Ваш запрос на обратный звонок успешно отправлен <br/>Наши менеджеры свяжутся с Вами в ближайшее время
      = form_tag('', :id => "certificate_form", :method => 'post', :multipart => true) do
        = hidden_field_tag "value", ""
        = text_field_tag "phone", nil, :placeholder => "Введите телефон", :class => "input"
        .error
          | Вы не указали телефон
        = submit_tag "Отправить", :class => "button small_button"
