#search_result
  - unless @items.nil?
    .g_row
      .g_col_d_12
        .search_info
          .info
            | По запросу&nbsp;"
            span.search_str
              = params[:search_text]
            | "&nbsp;найдено&nbsp;
            = @items.size
            | &nbsp;совпадений.
          .actions
            | Сортировка:&nbsp;
            - if params[:sort].nil?
              span.choosen
                | По дате,&nbsp;
              = link_to "по разделам", params.merge({:sort => "stage"}), class: "link"
            - else
              - if params[:sort] == "stage"
                = link_to "По дате", params.merge({:sort => "date"}), class: "link"
                |,&nbsp;
                span.choosen
                  | по разделам
              - else
                span.choosen
                  | По дате,&nbsp;
                = link_to "По разделам", params.merge({:sort => "stage"}), class: "link"

    .g_row
      .g_col_d_12
        ul.list_elements_without_image
          - @items.each do |item|
            li
              .list_element
                .list_element_info
                  .category
                    | Раздел:&nbsp;
                    - if item[3] == "news"
                      = link_to "Новости", news_index_path, class: "link"
                    - if item[3] == "promos"
                      = link_to "Акции", promos_path, class: "link"
                    - if item[3] == "events"
                      = link_to "События", events_path, class: "link"
                  .date.date_panel
                    = item[4].strftime("%d.%m.%Y")
                  .label
                    = item[1]
                  .text
                    = item[2]
                  - if item[3] == "news"
                    = link_to "подробнее...", "/news/#{item[0]}", class: "link"
                  - if item[3] == "promos"
                    = link_to "подробнее...", "/promos/#{item[0]}", class: "link"
                  - if item[3] == "events"
                    = link_to "подробнее...", "/events/#{item[0]}", class: "link"
  - else
    .g_row
      .g_col_d_12
        .search_info
          .info
            | Задан пустой поисковый запрос