- if @static_page.alias == StaticPage.certificate_alias
	.g_row#certificate
	  .g_col_d_8
	    = image_tag @static_page.image.url, class: "image", style: "width: 100%;"
	  .g_col_d_4
	    = form_tag("", :id => "fake_certificate_form", :method => 'post', :multipart => true) do
	      = label_tag "certificate_value", "Введите номинал сертификата"
	      = text_field_tag "certificate_value", nil, :class => "input"
	      | &nbsp;руб.
	      = submit_tag "Заказать сертификат", :class => "button small_button"
.g_row
	.g_col_d_12.text_area
		- if !@static_page.nil?
			- if !@static_page.content.nil?
				= @static_page.content.html_safe



= render_photo_slider(@static_page.static_page_images)

- if @static_page.alias == StaticPage.certificate_alias
	.g_row
	  .g_col_d_12
	    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>

	.popup.certificate
	  .bg
	  .section
	    .form_bg
	      .header
	        | Заказать сертификат
	      p.text
	        | Ваш запрос на обратный звонок успешно отправлен <br/>Наши менеджеры свяжутся с Вами в ближайшее время
	      = form_tag('', :id => "certificate_form", :method => 'post', :multipart => true) do
	        = hidden_field_tag "value", ""
	        = text_field_tag "phone", nil, :placeholder => "Введите телефон", :class => "input"
	        .error
	          | Вы не указали телефон
	        = submit_tag "Отправить", :class => "button small_button"
