.sub_block
  .label
    = t("custom.modules.navigation_menus.all_records")
    - if !@object[:paths][:new_path].nil?
      = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"
  = render_table(@fields, @items)
  = will_paginate @items