= form_for(@money_transfer ||= MoneyTransfer.new) do |f|
  input style="display: none" name="back" value="#{ current_system_user.system_user_role.alias == 'kassir_administrator' ? money_transfers_path : main_page_path }"

  - if !['kassir', 'kassir_major'].include? current_system_user.system_user_role.alias
    .field
      label = t("custom.modules.system_user_roles.kassir")

      = f.select :assignee_id, options_for_select(kassirs_to_select)

  .field.text_field
    label = t("form.labels.count") + "*"

    = f.text_field :counter

  = f.submit t("labels.buttons.add"), class: "btn blue_btn"
