- user_id ||= nil

.sub_block
  .label = t('custom.modules.money_transfers.own_records')

  table.table
    thead
      tr
        th Кассир, отправивший деньги
        th Количество денег
        th

    tbody
      - money_transfers_to_me(user_id).each do |transfer|
       tr
        td = transfer.assignor.full_name
        td = transfer.counter
        td = link_to t('labels.buttons.confirm'), finish_money_transfer_path(transfer, back: request.path), method: :put
