- @items.each do |item|
  / @TODO in controller include(:assignor) to prevent n+1
  - unless item.global?
    tr
      - @visible_fields.each do |field|
        td
          = render_table_item(field, item)
      td
        - if item.in_delivery?
          / = link_to t('labels.buttons.edit'), "#{@object[:paths][:edit_path]}/#{item.id}/edit", class: "btn blue_btn"
          = link_to t('labels.buttons.delete'), cancel_money_transfer_path(item, back: request.path), method: :put, class: "btn red_btn", data: {confirm: "#{t('messages.delete_item_attention')}"}
