.sub_block
  .label
    = t("custom.modules.blank_transfers.all_records")
    - if @object[:paths][:new_path].present?
      = link_to t("labels.buttons.create"), @object[:paths][:new_path], class: "btn blue_btn"
  // done: Убрать ссылку в карточку сущности
  = render_filter(@path, nil)
  = render_table(@fields, @items)
  = will_paginate @items
