| Регистрация на сайте PlanB
br
| Для активирования своего аккакунта перейдите по ссылке:
br
= link_to "http://new.bilet18.ru/confirm?user_confirmation_token=" + @user.user_confirmation.to_s, "http://new.bilet18.ru/confirm?user_confirmation_token=" + @user.user_confirmation.to_s