| Восстановление аккаунта на сайте PlanB
br
| Для восстановления пароля перейдите по ссылке:
br
= link_to "http://new.bilet18.ru/set_new_password?change_password_token=" + @user.user_restore_password, "http://new.bilet18.ru/set_new_password?change_password_token=" + @user.user_restore_password