// Импорт стилей сетки верстки
$desktop_width: 1020px;
@import "dm_css_grid";

.report {

  .title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 20px
  }

  .report_header {
    padding: 0 0 20px 0;
    .city {

    }
    .date {
      text-align: right;
    }
  }

  .report_text {
    padding: 20px;
    box-sizing: border-box;
  }

  .report_table {
    table {
      border-collapse: collapse;
      box-sizing: border-box;
      width: 100%;
      th {
        padding: 10px;
      }
      td {
        padding: 10px;
      }
      .table_header {

      }
      .blank_row {

      }
      .total {

      }
    }
  }

  .report_place {
    div {
      border-bottom: 1px solid black;
    }
    .delimiter {
      position: absolute;
      right: 0;
      top: -14px;
      border-bottom: 0;
    }
  }

  .report_signature {
    .fio, .signature  {
      text-align: center;
    }
  }


}