.label
  | Главная страница
/.small_block
/  .value
/    = NewsItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).where("published_at<= now()").count
/  .description
/    = t"custom.modules.news.published_records_count"
/  .btns
/    = link_to t("custom.modules.news.create_record"), new_news_item_path, class: "btn blue_btn"
/    = link_to t("custom.modules.news.show_records"), news_items_path, class: "btn grey_btn"
/
/.small_block
/  .value
/    = PromoItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).where("(published_at<= now()) OR (ending_at<= now())").count
/  .description
/    = t"custom.modules.promo_items.published_records_count"
/  .btns
/    = link_to t("custom.modules.promo_items.create_record"), new_promo_item_path, class: "btn blue_btn"
/    = link_to t("custom.modules.promo_items.show_records"), promo_items_path, class: "btn grey_btn"
/
/.small_block
/  .value
/    = SalePointItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
/  .description
/    = t"custom.modules.sale_point_items.published_records_count"
/  .btns
/    = link_to t("custom.modules.sale_point_items.create_record"), new_sale_point_item_path, class: "btn blue_btn"
/    = link_to t("custom.modules.sale_point_items.show_records"), sale_point_items_path, class: "btn grey_btn"
/
/.small_block
/  .value
/    = Banner.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
/  .description
/    = t"custom.modules.banners.published_records_count"
/  .btns
/    = link_to t("custom.modules.banners.create_record"), new_banner_path, class: "btn blue_btn"
/    = link_to t("custom.modules.banners.show_records"), banners_path, class: "btn grey_btn"
/
/.small_block
/  .value
/    = PartnerItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
/  .description
/    = t"custom.modules.partner_items.published_records_count"
/  .btns
/    = link_to t("custom.modules.partner_items.create_record"), new_partner_item_path, class: "btn blue_btn"
/    = link_to t("custom.modules.partner_items.show_records"), partner_items_path, class: "btn grey_btn"
/
/.small_block
/  .value
/    = StaticPage.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
/  .description
/    = t("custom.modules.static_pages.published_records_count")
/  .btns
/    = link_to t("custom.modules.static_pages.create_record"), new_static_page_path, class: "btn blue_btn"
/    = link_to t("custom.modules.static_pages.show_records"), static_pages_path, class: "btn grey_btn"