- if cookies["kassir_sale_point_item_id_for_user_#{ current_system_user.id }".to_sym].nil?
  .sub_block
    .back_link
      = generate_sign_out_link(current_system_user, system_users_authorize_d.sign_out_path)
    .label
      = t("custom.modules.sale_point_items.select_record")
    = form_tag("#", method: "get", id: 'kassir_sale_point_item') do

      / = hidden_field_tag :system_user_id, current_system_user.id

      input#system_user_id style="display: none" value="#{ current_system_user.id }"

      .field
        label
          = t("custom.modules.sale_point_items.select_records")
        = select_tag 'sale_point_item', options_for_select(SalePointItem.all.collect { |u| [u.name, u.id] })

      = submit_tag t("labels.buttons.accept"), class: "btn blue_btn"

  br

- else
  - if blank_transfers_to_me(current_system_user.id).size > 0
    = render 'admin/blank_transfers/blank_transfers_to_me', user_id: current_system_user.id

    br

  - if money_transfers_to_me(current_system_user.id).size > 0
    = render 'admin/money_transfers/money_transfers_to_me', user_id: current_system_user.id

  .sub_block
    .blanks_info

      .link
        = link_to t("custom.modules.reports.allowed_blank_count"), available_blank_counters_by_kassir_path

      .link
        = link_to t("custom.modules.blank_transfers.return_blanks"), new_blank_transfer_path

      .link
        = link_to t("custom.modules.reports.cashbox_release"), cashbox_release_reports_path, target: "_blank"

      .back_link
        = generate_sign_out_link(current_system_user, system_users_authorize_d.sign_out_path)

    .order_panel
      .label.kassir_header
        = t("custom.modules.tickets.booked_tickets_searching")
      .search_field
        .form_bg
          = form_tag("/admin/ajax_get_reservation_payment_by_number", method: "post") do
            .field
              = text_field_tag "number", nil, placeholder: t("form.labels.booking_or_phone_number")
            = submit_tag t("labels.buttons.find"), class: "btn blue_btn"
      .search_result
        .form_bg#tickets
          .label

          table.table
            thead
              tr
                th
                  a href="#"
                    = t("custom.modules.schemas.section")
                th
                  a href="#"
                    = t("custom.modules.schemas.row")
                th
                  a href="#"
                    = t("custom.modules.schemas.seat")
                th
                  a href="#"
                    = t("custom.modules.schemas.sale")
                th
                  a href="#"
                    = t("custom.modules.schemas.price")
                th
            tbody

          .js_order-master-reserved_open
            button.btn.blue_btn style="display: none" = t("labels.buttons.pay")


  .sub_block
    .label
      = t("custom.modules.event_items.name")
    .events
      - EventItem.active.not_passed.each do |event_item|
        = link_to ['izhstal', 'cyrk'].include?(event_item.hall.alias) ? "/admin/advanced_schemas/#{event_item.id}" : "/admin/schemas/#{event_item.id}", class: 'small_block' do

          .date
            .day
              = event_item.date.strftime("%d")
            .another
              = Rails.application.config.months[event_item.date.strftime("%B")]

          .description
            = event_item.name

= render "admin/schemas/order_master/order_master_reserved"
