.block
  - if blank_transfers_to_me.size > 0
    = render 'admin/blank_transfers/blank_transfers_to_me'

    br

  - if money_transfers_to_me.size > 0
    = render 'admin/money_transfers/money_transfers_to_me'

    br

  .sub_block
    .label = t("custom.modules.blank_transfers.add_blanks")

    = form_for @blank_transfer ||= BlankTransfer.new do |f|
      input style="display: none" name="back" value="#{ request.path }"

      .field
        label = t("custom.modules.blank_transfers.blank_type")

        = f.select :blank_type_id, options_for_select(BlankType.all.collect { |u| [u.name, u.id] })

      .field.js_events_list
        label = t("custom.modules.event_items.one_item")

        = f.select :event_item_id, options_for_select(EventItem.all.collect { |u| [u.name, u.id] })

      .field.text_field
        label = t("form.labels.count") + "*"

        = f.text_field :counter

      = f.submit t("labels.buttons.add"), class: "btn blue_btn"

    br

  .sub_block
    .label = t("custom.modules.money_transfers.add_money")

    = form_for @money_transfer ||= MoneyTransfer.new do |f|
      input style="display: none" name="back" value="#{ request.path }"

      .field.text_field
        label = t("form.labels.count") + "*"

        = f.text_field :counter

      = f.submit t("labels.buttons.add"), class: "btn blue_btn"
