| Главная страница для роли Root
/ @TODO во-первых - unused, во вторых он даже не юзера возвращал
/ - user = KassirCounter.get_kassir_by_user(current_system_user)
div
  | Счетчики
ul
	/ - unless BlankCounter.normal_counter.value.nil?
	/ 	li
	/ 		= t("custom.modules.blanks.normal_blank_counter", :counter => BlankCounter.normal_counter.value)
/ toDO: при попытке высчитать счетчики падает ошибка  ArgumentError Exception: wrong number of arguments (0 for 1)
/ возможно пустой аргумент event_item для BlankCounter::special_counter
	/ - unless BlankCounter.special_counter.value.nil?
	/ 	li
	/ 	  	= t("custom.modules.blanks.special_blank_counter", :counter => BlankCounter.special_counter.value)
	/ - unless user.normal_counter.nil?
	/ 	li
 / 		 	= t("custom.modules.blanks.users_normal_blank_counter", :counter => user.normal_counter)
	/ - unless user.special_counter.nil?
	/ 	li
	/ 	  	= t("custom.modules.blanks.users_special_blank_counter", :counter => user.special_counter)
