.list_element_info
  .date.date_panel
    = (@promo.published_at.nil?) ? "—" : @promo.published_at.strftime("%d.%m.%Y")
  .label
    = @promo.name
  .text
    = @promo.description
  = link_to "подробнее...", Rails.application.routes.url_helpers.mobile_promo_path(@promo.id), class: "link"