#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      / Dude, when you will remake all other schemas view keep in mind this:
      / 1. Rubymine break orientation in slim, be careful
      / 2. seat rows and seat numbers are numbers now, so do not forget to delete quotes
      / kvokka
      - sector_object = @parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"
        ul.places
          - grouped_seats.each do |seat|
            -if  seat.number == 1 && seat.row != 1
              </ul></li>
            - if seat.number == 1
              <li class='row'><ul>
            - ticket = seat.tickets.first
            = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
            - if (seat.row == 7) && (seat.number == 9)
              =place_empty_seats 5
            - if (seat.row == 20) && (seat.number == 2)
              =place_empty_seats 3
            - if (seat.row == 20) && (seat.number == 22)
              =place_empty_seats 3
            - if (seat.row == 21) && (seat.number == 2)
              =place_empty_seats 3
            - if (seat.row == 21) && (seat.number == 22)
              =place_empty_seats 3
            - if (seat.row == 22) && (seat.number == 3)
              =place_empty_seats 3
            - if (seat.row == 22) && (seat.number == 21)
              =place_empty_seats 3
          </ul></li>

      - sector_object = @balkon
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"
        ul.places
          - grouped_seats.each do |seat|
            - if seat.number == 1 && seat.row != 1
              </ul></li>
            - if seat.number == 1
              <li class='row'><ul>
            - ticket = seat.tickets.first
            = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
            - if (seat.row == 1) && (seat.number == 12)
              =place_empty_seats 4
            - if (seat.row == 2) && (seat.number == 12)
              =place_empty_seats 4
            - if (seat.row == 3) && (seat.number == 12)
              =place_empty_seats 2
            - if (seat.row == 4) && (seat.number == 12)
              =place_empty_seats 2
            - if (seat.row == 5) && (seat.number == 2)
              =place_empty_seats 24
            - if (seat.row == 6) && (seat.number == 2)
              =place_empty_seats 24
          </ul></li>