#test_dancing_room
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - items = @s2_part1.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @s2_part1.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
