.list_element
  - if item.image.file?
    = link_to Rails.application.routes.url_helpers.archive_path+"/#{item.id}", class: "list_element_img"
      = image_tag item.image.url(:list)
  .list_element_info
    .date.date_panel
      = (item.date.nil?) ? "—" : item.date.strftime("%d.%m.%Y")
    .label
      = item.name
    .text
      = item.description
    = link_to "подробнее...", Rails.application.routes.url_helpers.archive_path+"/#{item.id}", class: "link"