.g_row#events_filter_panel
  .g_col_d_12
    .form_bg
      .bg
      = form_tag("", :id => "filter_events_form", :method => 'get', :multipart => true) do
        table.inputs
          tr
            th.event_type_col
              | Тип меропрития:
            th.event_place_col
              | Место проведения:
            th.event_date_col
              | Дата проведения:
            th.event_price_col
              | Цена:
          tr
            td
              = select_tag "event_type", options_from_collection_for_select(EventType.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id), "id", "name", params[:event_type]), include_blank: "Все типы мероприятий", :class => "input"
            td
              = select_tag "event_place", options_from_collection_for_select(Hall.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id), "id", "name", params[:event_place]), include_blank: "Все площадки", :class => "input"
            td
              = text_field_tag "event_data", nil, :class => "input", :placeholder => 'Выберите период', :value => @date_range
              = hidden_field_tag "date_of", params[:date_of]
              = hidden_field_tag "date_to", params[:date_to]

            td style="color: white; font-size: 12px;"
              = hidden_field_tag "price_of", get_events_border_price("min")
              = hidden_field_tag "price_to", get_events_border_price("max")
              = hidden_field_tag "current_price_of", @price_of
              = hidden_field_tag "current_price_to", @price_to
              .price_slider

        // toDO: добавить js-очистку формы
        = link_to "Сбросить фильтр", events_path, id: "clear_filter_events_form"

        = submit_tag "Подобрать мероприятие", :class => "button big_button"