@import "halls/desktop/cyrk";
@import "halls/desktop/izhstal";
@import "metallurg";
@import "opera_theatre";

.aksion_pult_panel {
  width: 116px;
  height: 50px;
  background: white;
  z-index: 10;
  position: absolute;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
  -moz-box-shadow: 0 0 1px 0 #e1e1e1;
  box-shadow: 0 0 1px 0 #e1e1e1;
  color: #555555;
  line-height: 50px;
}

.sub_block {
  .header {
    .label {
      font-size: 12px !important;
      padding: 0 0 5px 0;
      margin: 0 0 5px 0;
    }
  }
  @extend %clearfix;
}

.aksion_vip_1 {
  width: 120px;
  position: absolute;
  left: 135px;
  top: 60px;
}

.aksion_vip_2 {
  width: 120px;
  position: absolute;
  right: 80px;
  top: 60px;
}

.hall_schema {
  width: 100%;
  height: auto;
  .marking {
    width: 87%;
    float: left;
    .scene {
      width: 100%;
      .scene_img {
        padding: 5px;
        background-color: #c0c0c0;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        border-bottom: 1px solid #e9e9e9;
        -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
        -moz-box-shadow: 0 0 1px 0 #e1e1e1;
        box-shadow: 0 0 1px 0 #e1e1e1;
      }
      @extend %clearfix;
    }

    .schema {
      width: 100%;
      position: relative;
      @extend %clearfix;
      .group {
        width: 100%;
        margin: 15px 0 15px 0;
        position: relative;
        background-color: initial;
        .header {
          padding: 5px;
          border-bottom: 1px solid #e9e9e9;
          font-size: 11px;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
        }
        .lines {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: block;
          margin: 0;
          padding: 0;
          list-style: none;
          margin-top: 31px;
          z-index: -1;
          li {
            display: block;
            width: 100%;
            height: 12px;
            border-bottom: 1px solid red;
            margin-bottom: 17px;
          }
          @extend %clearfix;
        }
        .rows {
          width: 5%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          height: 15px;
          li {
            margin: 5px 0 5px 0;
            display: block;
            height: 100%;
            &.button {
              width: 70px;
              font-size: 12px;
              padding: 5px;
              text-align: center;
              line-height: 14px;
              height: 14px;
              color: white;
              background-color: grey;
              border-bottom: 1px solid #e9e9e9;
              -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
              -moz-box-shadow: 0 0 1px 0 #e1e1e1;
              box-shadow: 0 0 1px 0 #e1e1e1;
            }
          }
          @extend %clearfix;
        }
        .places {
          width: 93%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          li.row {
            width: 100%;
            margin: 5px 0 5px 0;
            ul {
              text-align: center;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              li.seat {
                display: inline-block;
                font-size: 12px;
                height: 20px;
                width: 20px;
                margin: 2px 2px 2px 2px;
                cursor: hand;
                position: relative;
                vertical-align: top;
                line-height: 20px;
                color: white;
                border-bottom: 1px solid #e9e9e9;
                -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                box-shadow: 0 0 1px 0 #e1e1e1;
                .info_block {
                  position: absolute;
                  font-size: 12px;
                  background: white;
                  top: -114px;
                  left: -12px;
                  width: 255px;
                  padding: 10px;
                  text-align: left;
                  line-height: 14px;
                  border-bottom: 1px solid #e9e9e9;
                  -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                  -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                  box-shadow: 0 0 1px 0 #e1e1e1;
                  color: grey;
                  z-index: 100;
                  .value {
                    font-weight: bold;
                  }
                  .close {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    cursor: hand;
                  }
                  .arrow {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    bottom: -10px;
                    left: 12px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid white;
                    border-bottom: 1px solid #e9e9e9;
                  }
                }
                &.weight_1 {
                  width: 20px;
                }
                &.weight_2 {
                  width: 44px;
                }
                &.weight_3 {
                  width: 68px;
                }
                &.active {
                  background: red !important;
                }
                &.non_active {
                  background: white !important;
                }
              }
              li.seat[data-state='disabled'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='booked'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='hold'] {
                background: #555 !important;
                border: 1px solid red;
              }
              li.seat[data-state='bought'] {
                background: $bg_color_12 !important;
              }
            }
          }
        }
        @extend %clearfix;
      }
    }
  }
  .legend {
    width: 13%;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    .form_bg {
      padding: 5px 10px 5px 10px;
      .element {
        width: 100%;
        .block {
          width: 15px;
          height: 15px;
          float: left;
          background: red;
          @include border_radius(2px, 2px, 2px, 2px);
          margin-right: 12px;
        }
        .text {
          margin: 10px 0 5px 0;
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
  }
  @extend %clearfix;
}

.dancing {
  width: 100px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: hand;
  .dancing_room_count {
    color: #555;
    .title {
      font-size: 20px;
    }
    .description {
      font-size: 15px;
      padding-bottom: 15px;
    }
    .field {
      padding-bottom: 15px;
    }
    .btns {
      .btn {
        margin-right: 10px;
        float: left;
      }
    }
  }
}

.dancing.active {
  background: red !important;
}

.order_stage {
  display: none;
}

#order_master {

  .btn {
    float: left;
    margin-right: 15px;
  }

  .fields {
    margin: 20px 0 20px 0;
  }

  #cancel_master_stage {
    float: right;
  }

  input[type=text] {
    margin: 0 !important;
  }

  .custom_btns {
    @extend %clearfix;
  }

}
