.metallurg_loga_1 {
  width: 265px;
  position: absolute;
  left: 150px;
  bottom: -90px;
}

.metallurg_loga_2 {
  width: 265px;
  position: absolute;
  right: 220px;
  bottom: -90px;
}

.metallurg_balkon {
  margin-top: 90px;
}
