#opera_theatre {
  position: relative;
}

.opera_theatre_pandus_left {
  width: 150px;
  position: absolute;
  left: 10%;
  bottom: -100px;
  z-index: 2;

  .sub_header {
    text-align: left;
  }
}

.opera_theatre_pandus_right {
  width: 150px;
  position: absolute;
  right: 6%;
  bottom: -100px;
  z-index: 2;

  .sub_header {
    text-align: right;
  }
}
