.popup_cnt.js_hold-tickets_modal
  .bg
  .section
    .form_bg
      .container
        .title
          | Выберите дату снятия брони
        .block
          = text_field :expires_at, nil, class: 'datetimepicker js_hold-tickets_expiresAt-field'
          
          = hidden_field_tag :state, TicketState.hold_state.id, class: 'js_hold-tickets_state-field'

        .special_btns
          .btn.blue_btn.js_hold-tickets_send
            | Отправить
          br

          .btn.red_btn.js_hold-tickets_close-modal
            | Отменить

        br
