/ .sub_block
/   .label
/     = t("custom.modules.blanks.items_into_delivery")
/   table.table
/     thead
/       tr
/         th
/           a
/             = t("labels.strings.num")
/         th
/           a
/             = t("custom.modules.blank_requests.blank_type")
/         th
/           a
/             = t("custom.modules.event_item.one_event")
/         th
/           a
/             = t("custom.modules.blanks.blanks_count")
/         th

/     tbody
/       - @blank_requests.each do | blank_request |
/         tr
/           td
/             = blank_request.id

/           td
/             = blank_request.blank_type.name

/           td
/             - if blank_request.blank_type.name == "Общий"
/               | -
/             - else
/               = blank_request.event_item.name

/           td
/             = blank_request.value

/           td
/             = link_to "labels.buttons.accept", "#", class: "accept_blank_request btn blue_btn", :data => { :request => blank_request.id }
