.sub_block
  .label
    = t("custom.modules.blanks.allowed_blanks_count")
  table.table
    thead
      tr
        th
          a = t("custom.modules.blank_requests.blank_type")
        th
          a = t("custom.modules.blanks.blanks_count")
        th
          a = t("custom.modules.event_items.one_event")

    tbody
      - @blank_stocks.each do |stock|
        tr
          td = stock.blank_type.name

          td = stock.counter

          td = stock.event_item.present? ? stock.event_item.name : ' - '

