/ .sub_block
/   .label
/     = t("custom.modules.blanks.items_into_delivery")
/   table.table
/     thead
/       tr
/         th
/           a
/             = t("custom.modules.blank_requests.blank_type")
/         th
/           a
/             = t("custom.modules.event_items.one_event")
/         th
/           a
/             = t("custom.modules.blanks.blanks_count")
/         th
/           a
/             = t("labels.strings.delivery_date")

/     tbody
/       - @blank_requests.each do | blank_request |
/         tr
/           td
/             - if !blank_request.blank_request_type.nil?
/               = blank_request.blank_request_type.name

/           td
/             - if blank_request.blank_type.alias == BlankType.NORMAL_ALIAS
/               | -
/             - else
/               = blank_request.event_item.name

/           td
/             = blank_request.value

/           td
/             = blank_request.delivery_date
