.sub_block
  .label
    = "#{@event_item.name} - #{@event_item.date.strftime("%d")} #{Rails.application.config.months[@event_item.date.strftime("%B")]} #{@event_item.date.strftime("%H:%M")} - #{@event_item.hall.name}"
    .back_link
      = link_to "Вернуться к мероприятиям", main_page_path
  .event_schema.usual_schema
    .hall_schema data-event-id="#{@event_item.id}"
      - if (@event_item.hall.alias == "test_schema")
        = render "desktop/schemas/test_schema/main"
      - else
        = render "desktop/schemas/#{ @event_item.hall.alias }/#{ @event_item.hall.alias }"

      .legend

        .form_bg.small_form
          .label = t("labels.buttons.remove_selected")
          .btn.grey_btn#clear_checked_tickets = t("labels.buttons.remove")

        - if current_system_user.system_user_role.alias == "kassir_major"
          .form_bg.small_form
            .label = t('labels.buttons.refund_tickets')
            button.btn.grey_btn.js_refund-tickets_button disabled='disabled' = t('labels.buttons.refund_tickets')

        - if current_system_user.system_user_role.alias == 'administrator'
          .form_bg.small_form
            .label = t('labels.buttons.hold_tickets')

            .btn.blue_btn.js_hold-tickets_open-modal = t('labels.buttons.hold_tickets')

          .form_bg.small_form
            = hidden_field_tag :ticket_state, TicketState.available_state.id, class: 'js_hold-tickets-refund_state-field'

            .label = t('labels.buttons.hold_tickets_refund')

            button.btn.grey_btn.js_hold-tickets-refund_button disabled='disabled' = t('labels.buttons.hold_tickets_refund')

        .form_bg.order_info
          .label
            = t("custom.modules.payments.one_item")
          .main_info
            .count
              .title
                | Количество
              .value
                | 0

            .total
              .title
                = t("form.labels.result") + ":"
              .value
                | 0

        .form_bg.small_form.js_order-master_open
          .btn.blue_btn
            = t("labels.buttons.issue")

        .form_bg
          .bg
          - get_seat_item_types(@event_item).each do |type|
            .element
              .block style="background-color: #{type.color}"
              .text
                = "от #{type.price} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              = t("labels.strings.unavailable")

          .element
            .block style="background-color: #555 !important;border: 1px solid red"
            .text
              = t("labels.strings.hold_by_administrator")

= render "admin/schemas/order_master/order_master"

- if current_system_user.system_user_role.alias == 'administrator'
  = render "admin/schemas/hold_tickets_modal" 

- if @dancing_room.present?
  = render "admin/schemas/order_master/order_master_room"
