.header
  = @event_item
.hall_schema.full_size data-event-id="#{@event_item.id}"
  .marking
    .scene
      .scene_img
        = t("custom.modules.schemas.scene")
    .schema
      - @schema.each do |g_key, g_value|
        .group_cnt
          .header
            = SeatGroup.find(g_key).name
          ul.lines
            - g_value.each do |r_key, r_value|
              li
          ul.rows
            - g_value.each do |r_key, r_value|
              li.button
                = "Ряд #{r_key}"
          ul.places
            - g_value.each do |r_key, r_value|
              li.row data-row="r_key"
                ul
                  - r_value.each do |value|
                    - ticket = Ticket.find_by(:seat_id => value.id, :event_item_id => @event_item.id)
                    - add_class = ""
                    - if !@order_ids.nil?
                      - if @order_ids.include?(ticket.id.to_s)
                        - add_class = "active"
                    - if value.is_enabled
                      li.seat data-seat-id="#{value.id}" data-group="#{value.seat_group.name}" data-range="#{value.range}" data-place="#{value.place}" data-ticket-id="#{ticket.id}" data-price="#{ticket.price}" data-state="#{ticket.ticket_state.alias}" class="#{add_class} weight_#{value.weight}" style="background-color: #{SeatType.find(value.seat_type_id).color}"
                        = value.place
                    - else
                      li.seat data-seat-id="#{value.id}" class="non_active weight_#{value.weight}"


