- if params[:sector_id].nil?
  #cyrk_schema.full
    .marking
      .image_cnt
        = image_tag "schemas/cyrk.png"
        - @sectors.each do |sector|
          = link_to sector.name, "?sector_id=#{sector.id}", class: "sector #{sector.alias}"
- else
  #cyrk_schema
    .marking
      .schema
        = render "desktop/schemas/cyrk/sectors/c_sector"
