#actions_widget
  // toDO: грамматическая ошибка в слове desctop
  = link_to desctop_static_pages_path('certificate')
    = image_tag "sertificate.png", class: "certificate"
  .buttons
    = link_to "/sale_points", class: "button average_button"
      | Точки продаж билетов
    = link_to "/where_buy_tickets", class: "button average_button"
      | Как и где купить билеты
    = link_to "/help_to_choose_event", class: "button average_button"
      | Помощь в выборе мероприятия
