.form_bg#auth_form
  .bg
  - if @current_user.nil?
    = form_tag(:log_in, url: log_in_path) do |f|

      = hidden_field_tag "current_path", request.original_url

      table.inputs
        tr.input_cnt
          td
            label
              | Эл. почта
          td
            = text_field_tag "email", nil, :class => "input"
            - if !flash[:error].nil?
              .error
                = flash[:error]


        tr.input_cnt
          td
            label
              | Пароль
          td
            = password_field_tag "password", nil, :class => "input"

      .actions
        = submit_tag "Войти", :class => "button small_button"
        .action_links
          = link_to "Забыли пароль?", restore_path
          = link_to "Зарегистрироваться", register_path
    /#social_auth
    /  span.title
    /    | Войти через соц. сети:
    /  #social_auth_cnt
    /    ul.social_icons_links
    /      li
    /        = link_to "/vk"
    /          = image_tag "social/vk.png"
    /      li
    /        = link_to "/fb"
    /          = image_tag "social/facebook.png"
    /      li
    /        = link_to "/tw"
    /          = image_tag "social/twitter.png"
  - else
    .hello_message
      | Здравствуйте,
      span.name
       = "#{@current_user.first_name}"
    .in_cart_message
      - if !@cart_info.nil? && (@cart_info[0] != 0)
        | В вашей корзине&nbsp;
        span.attention.count
          = @cart_info[0]
        | &nbsp;билетов на сумму&nbsp;
        span.attention.price
          = @cart_info[1]
        | &nbsp;руб. на мероприятие&nbsp;
        span.attention
          = link_to truncate(@cart_event.name, :length => 20), "/events/#{@cart_event.url}", class: "attention"
        = "."

        span
          = " Для оформления заказа перейдите в "
          = link_to "корзину", confirm_order_path, class: "attention"
          = "."
      - else
        | Ваша корзина пустая

    .btns
      = link_to "Личный кабинет", profile_path, class: "button average_button"
      = link_to "Выйти", log_out_path, class: "logout", method: "delete"