- current_link = nil
.g_row
  .g_col_d_12
    #breadcrumbs
      ul
        - @breadcrumbs.each do |key, value|
          - if !value.nil?
            li
              = link_to value
                = key
              | &nbsp;-&nbsp;
          - else
            - current_link = key
      - if !current_link.nil?
        = current_link