.popup.call
  .bg
  .section
    .form_bg
      .header
        | Заказать обратный звонок
      p.text
        | Ваш запрос на обратный звонок успешно отправлен <br/>Наши менеджеры свяжутся с Вами в ближайшее время
      = form_tag(ajax_create_call_request_path, :id=>"call_form", :method=>'post', :multipart => true) do
        = text_field_tag "name", nil, :placeholder => t("custom.labels.your_name"), :class => "input"
        = text_field_tag "phone", nil, :placeholder => t("custom.labels.phone"), :class => "input"
        = text_area_tag "message", nil, :placeholder => t("custom.labels.message"), :class => "input"
        .error
          | Вы не указали телефон
        = submit_tag "Отправить", :class => "button small_button"