.popup.collective_order
  .bg
  .section
    .form_bg
      .header
        | Заказать коллективную заявку
      .small_message
        | Для заказа больше 
        =' Setting.get_setting("ticket_max_counter")
        | билетов оставьте заявку на коллективную покупку. Коллективная заявка позволяет купить билеты с дополнительной скидкой
      p.text
        | Ваш запрос успешно отправлен!
      = form_tag(ajax_create_collective_order_path, :id=>"collective_order_form", :method=>'post', :multipart => true) do
        = hidden_field_tag "event_id", @event_item.id
        = text_field_tag "phone", nil, :placeholder => "Введите телефон", :class => "input"
        .error
          | Вы не указали телефон
        = submit_tag "Отправить", :class => "button small_button"