ul#events_list
  - @events.each do |event|
    li
      - if event.image.file?
        = link_to "/events/#{event.url}", class: "event_link"
          = image_tag event.image.url(:list), class: "blur"
      .event_info
        .date
          b
            = event.date.strftime("%d")
          | &nbsp;
          = Rails.application.config.months[event.date.strftime("%B")]
        .time
          = event.date.strftime("%H:%M")
        .place
          = event.hall.name
        .delimiter
        .day
          = Rails.application.config.weekdays[event.date.wday.to_i - 1]

      .event_price
        | от&nbsp;
        b
          = get_events_border_price("min", event.id)
        | &nbsp;руб.
      = link_to "/buy_ticket/#{event.id}"
        .button.average_button
          | купить билет
