.g_row#events_info
  .g_col_d_4
    #news_panel
      ul
        - @last_news_items.each do |news_item|
          li
            - if news_item.image.file?
              = link_to Rails.application.routes.url_helpers.news_path(news_item.id)
                .image_holder
                  = image_tag news_item.image.url(:preview), class: "blur"
            .content
              - if !news_item.published_at.nil?
                .news_date
                  = news_item.published_at.strftime("%d.%m.%Y")
              = link_to news_item.name, Rails.application.routes.url_helpers.news_path(news_item.id)


      =link_to t("custom.modules.news.all_records"), Rails.application.routes.url_helpers.news_index_path, id: "show_all_news"

  .g_col_d_8

    div.slider#main_banner
      ul.slider_children
        - @banners.each do |banner|
          li
            - if banner.link != ""
              - if !banner.event_item.nil?
                = link_to "/buy_ticket/#{banner.event_item.id}", class: "buy_link"
                  .button.average_button
                    | купить билет
              a href=(banner.link)
                = image_tag banner.image.url(:slider)
            - else
              - if !banner.event_item.nil?
                = link_to "/buy_ticket/#{banner.event_item.id}", class: "buy_link"
                  .button.average_button
                    | купить билет
                = link_to Rails.application.routes.url_helpers.events_path + "/#{banner.event_item.id}"
                  = image_tag banner.image.url(:slider)
              - else
                = link_to "#"
                  = image_tag banner.image.url(:slider)

      ul.slider_paginator
        - @banners.each do |banner|
          li