// toDO: прибить подвал к низу страницу при малых разрешений
footer
  .g_row
    .g_col_d_5
      #footer_main_menu_cnt
        = render "desktop/elements/additional_menu"
      #company_copyright
        =' Date.today.year
        | Продюсерская компания «План Б»
    .g_col_d_4
    .g_col_d_3
      #footer_contacts
        = render "desktop/elements/contacts/contacts_data"