header
  .g_row
    .g_col_d_3
      #header_logo
        =link_to root_path
          =image_tag "logo.png", alt: ""
    .g_col_d_2
      #social_icons_cnt
        = render "desktop/elements/contacts/social_links"
    .g_col_d_1
    .g_col_d_3
      #search_form_cnt
        = render "desktop/elements/search_form"
    .g_col_d_3
      #header_contacts
        = render "desktop/elements/contacts/contacts_data"

  .g_row
    .g_col_d_3
    .g_col_d_9
      #header_main_menu_cnt
        = render "desktop/elements/main_menu"