.g_row
  .g_col_d_12
    #long_banner
      - if !@long_banner.nil?
        - if @long_banner.link != ""
          a href=(@long_banner.link)
            = image_tag @long_banner.image.url(:long)
        - else
          - if !@long_banner.event_item.nil?
            = link_to Rails.application.routes.url_helpers.events_path + "/#{@long_banner.event_item.id}"
              = image_tag @long_banner.image.url(:long)
          - else
            = image_tag @long_banner.image.url(:long)