.g_row
  .g_col_d_12
    - if !@date_header.nil?
      .date_panel.date_header
        = @date_header
    - if !@page_header.nil?
      h1.page_header
        = @page_header
      .user_btns
        = link_to "Мой профиль", profile_path, class: "button"
        = link_to "История заказов", user_history_path, class: "average_button button"

    - if !@status_header.nil?
      .date_panel.status_header
        = @status_header