.g_row
  .g_col_d_12
    - if !@date_header.nil?
      .date_panel.date_header
        = @date_header
    - if !@page_header.nil?
      h1.page_header
        = @page_header
    - if !@status_header.nil?
      .date_panel.status_header
        = @status_header