.g_row
  .g_col_d_12#partner_list
    ul
      - @partners.each do |partner|
        - if partner.image.file?
          li
            - if (partner.link != "")
              = link_to partner.link, target: "_blank"
                = image_tag partner.image.url
            - else
              = image_tag partner.image.url

