= form_tag(search_path, :id=>"search_form", :method=>'get', :multipart => true) do
  = text_field_tag "search_text", nil, :placeholder => "Поиск по сайту", :class => "input"
  = submit_tag "искать", :class => "button small_button"