.g_row.form_cnt
  .form_bg
    .bg

    .g_col_d_12
      / .header
      /   = t("users.autorization")
      - if !flash[:register_error].nil?
        .error_line
          = flash[:register_error]

    .g_col_d_6
      = form_tag(log_in_path, :method=>'post', :multipart => true) do
        = hidden_field_tag "current_path", request.original_url
        table.inputs
          tr.input_cnt
            td
              label
                = "#{t('form.labels.e_mail')}*:"
            td
              = text_field_tag "email", params[:last_name], :class => "input"
              - if !flash[:error].nil?
                .error
                  = flash[:error]
          tr.input_cnt
            td
              label
                = "#{t('form.labels.password')}*:"
            td
              = password_field_tag "password", params[:first_name], :class => "input"
        = submit_tag t("users.autorization_button"), :class => "button"
    .g_col_d_6
      .text_area
        = link_to "Забыли пароль?", restore_path
        br
        = link_to "Зарегистрироваться", register_path