.g_row
  .g_col_d_12.form_bg#payment_history
    .bg
    - if @payments.nil?
      .message
        | Вы еще не совершали заказ
    - else
      .table_cnt
        .table
          table
            tr.header
              th
                | Номер
              th
                | Мероприятие
              th
                | Дата и время
              th
                | Статус
              th
                | Количество
              th
                | Стоимость
              th
                | Распечатать
            - @payments.each do |payment|
              tr
                td = link_to payment.number, "/payments/#{payment.id}", class: "link"
                td = link_to payment.event_item.name, "/events/#{payment.event_item.url}", class: "link"
                td = payment.created_at.strftime("%d.%m.%Y %H:%M:%S")
                td = payment.payment_type.name
                td = payment.tickets.count
                td = payment.tickets.map(&:price).reduce(:+)
                td = link_to 'PDF', print_payment_path(payment)
