.g_row
  .g_col_d_12.form_bg
    .bg
    .info_field
      .label
        | Статус:
      .value
        = @payment.payment_type.name
    .info_field
      .label
        | Мероприятие:
      .value
        = @payment.event_item.name
    .info_field
      .label
        | Дата заказа:
      .value
        = @payment.created_at.strftime("%d.%m.%Y %H:%M:%S")
    .header.header_with_bottom
      | Билеты
    .table_cnt#payment_tickets
      = form_tag(payment_save_path, :id => "payment_history", :method => 'post', :multipart => true)
        = hidden_field_tag "payment_id", @payment.id
        .table
          table
            tr.header
              - if @is_edited
                th
                  .fake_checkbox_cnt
                    = check_box_tag "all"
                    label.fake_checkbox for="all"
                      .tag
                th colspan="5" width="700"
                  | Название
              - else
                th colspan="6" width="700"
                  | Название
              th
                | Количество
              th
                | Стоимость
            - total_count = 0
            - total_price = 0
            - @payment.tickets.each do |ticket|
              - total_count = total_count + 1
              - total_price = total_price + ticket.price
              tr.value data-ticket-id="#{ticket.id}"
                - if @is_edited
                  td
                    = hidden_field_tag "tickets[#{ticket.id}]", ticket.id
                    .fake_checkbox_cnt
                      = check_box_tag ticket.id
                      label.fake_checkbox for="#{ticket.id}"
                        .tag
                  td colspan="5"
                    = "Отделение: #{ticket.seat_item.sector_group.name} Ряд: #{ticket.seat_item.row} Место: #{ticket.seat_item.number}"
                - else
                  td colspan="6"
                    = "Отделение: #{ticket.seat_item.sector_group.name} Ряд: #{ticket.seat_item.row} Место: #{ticket.seat_item.number}"
                td.count data-count="1"
                  | 1
                td.price data-price="#{ticket.price}"
                  = "#{ticket.price} руб."
            tr.table_footer
              - if @is_edited
                td
                  = link_to "Очистить", "#", class: "clear_table"
                td colspan="4"
              - else
                td colspan="5"
              td.visible.td_border_radius width="100"
                | Итого:
              td.visible.total_count
                = "#{total_count} шт."
              td.visible.total_price
                = "#{total_price} руб."
        - if @is_edited
          .inputs
            = submit_tag "Сохранить", class: "button"

            br

            - if @payment.cancelable?
              = link_to 'Отменить заказ', payment_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'button'