.g_row.form_cnt
  .form_bg
    .bg

    .g_col_d_12
      .header
        = t("users.register_new_user")

    .g_col_d_5
      - if flash[:error].present?
        .error_line
          = flash[:error]

      = form_tag(:log_in, url: log_in_path, method: 'post', id: 'register_form') do
        = hidden_field_tag "current_path", request.original_url

        table.inputs
          tr.input_cnt
            td
              label Эл. почта
            td
              = text_field_tag "email", nil, :class => "input"

          tr.input_cnt
            td
              label Пароль
            td
              = password_field_tag "password", nil, :class => "input"

        = submit_tag "Войти", :class => "button"

    .g_col_d_1

    .g_col_d_6
      - if !flash[:register_error].nil?
        .error_line
          = flash[:register_error]

      = form_tag(register_path, :id=>"register_form", :method=>'post', :multipart => true) do
        = hidden_field_tag "path", request.original_url
        table.inputs
          tr.input_cnt
            td
              label
                = "#{t('form.labels.last_name')}*:"
            td
              = text_field_tag "last_name", params[:last_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.first_name')}*:"
            td
              = text_field_tag "first_name", params[:first_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.middle_name')}:"
            td
              = text_field_tag "middle_name", params[:middle_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.phone')}:"
            td
              = text_field_tag "phone", params[:phone], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.email')}*:"
            td
              = text_field_tag "email", params[:email], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t("users.discount_number_field")}:"
            td
              = text_field_tag "discount_number", params[:discount_number], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.password')}*:"
            td
              = password_field_tag "password", nil, :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.password_confirmation')}*:"
            td
              = password_field_tag "password_confirmation", nil, :class => "input"

        = submit_tag t("users.register_button"), :class => "button"
