.g_row.form_cnt
  .form_bg
    .bg

    .g_col_d_12
      .header
        = t("users.restore_password")
      - if !flash[:restore_error].nil?
        .error_line
          = flash[:restore_error]

    .g_col_d_6
      = form_tag(restore_path, :id=>"restore_form", :method=>'post', :multipart => true) do
        = hidden_field_tag "path", request.original_url
        table.inputs
          tr.input_cnt
            td
              label
                = "#{t("form.labels.email")}:*"
            td
              = text_field_tag "email", nil, :class => "input"

        = submit_tag t("users.restore_button"), :class => "button average_button"
    .g_col_d_6