.g_row.form_cnt
  .form_bg
    .bg

    .g_col_d_12
      .header
        | Восстановление пароля
      - if !flash[:restore_error].nil?
        .error_line
          = flash[:restore_error]

    .g_col_d_6
      = form_tag(set_new_password_path, :id=>"set_new_password_form", :method=>'post', :multipart => true) do
        = hidden_field_tag "path", request.original_url
        = hidden_field_tag "change_password_token", params[:change_password_token]
        table.inputs
          tr.input_cnt
            td
              label
                | Новый пароль*:
            td
              = password_field_tag "new_password", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Повторите новый пароль*:
            td
              = password_field_tag "new_repeat_password", nil, :class => "input"

        = submit_tag "Восстановить", :class => "button average_button"
    .g_col_d_6