#dancing
  .marking
    .scene
      .scene_img
        .bg Сцена

    .schema
      .group
        .header
          .label = @dancing_room.name

      = render "desktop/schemas/dancing", sector_group: @dancing_room, event_item: @event_item
