.popup_cnt.dancing_room_count.js_client-master-room_modal
  .bg
  .section
    .form_bg
      .container_2
        .title
          | Количество билетов

        .description
          | Укажите количество билетов для покупки/бронирования на танцполе

        .field
          = number_field_tag :tickets_size

        .btns
          button.btn.blue_btn.js_client-master-room_continue
            | Применить

          button.btn.grey_btn.js_client-master-room_close
            | Закрыть
