// toDO: заменить вывод блока через шаблон
.g_row
  .g_col_d_12.g_col_m_12.no_padding
    .image_block
      = image_tag @event_item.image.url, class: "blur custom_border"

.g_row
  .g_col_d_12.g_col_m_12.text_area
    = @event_item.content.html_safe

// toDO: Сделать слайдер адаптивным
.g_row style="display: none;"
  .g_col_d_12.g_col_m_12
    #photo_slider.slider
      .left_switcher
      .right_switcher
      ul.slider_children
        li
          = image_tag "photo.jpg"
        li
          = image_tag "photo.jpg"
        li
          = image_tag "photo.jpg"
        li
          = image_tag "photo.jpg"