= render "mobile/elements/events/filter_panel"

.g_row#events
  .g_col_d_12.g_col_m_12.no_padding
    = render_mobile_events_list

.popup.calendar_range.calendar
  .bg
  .section
    .form_bg
      .header
        | Выбор даты
      .calendar_blocks
        .calendar_block
          #calendar_of
            .message
              | начало
        .calendar_block
          #calendar_to
            .message
              | конец
      .buttons
        .button.ok
          | Выбрать
        .button.cancel
          | Отменить