// toDO: заменить вывод блока через шаблон
.g_row
  .g_col_d_12.g_col_m_12.no_padding
    .event_block
      = image_tag @event_item.image.url(:card), class: "blur custom_border"
      .event_info
        .date
          b
            = @event_item.date.strftime("%d")
          | &nbsp;
          = Rails.application.config.months[@event_item.date.strftime("%B")]
        .time
          b
            = @event_item.date.strftime("%H:%M")
        .place
          = @event_item.hall.name
        .delimiter
        .day
          = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]

      .event_price
        | от&nbsp;
        b
          | 1500
        | &nbsp;руб.
      .button_cnt
        .button.average_button
          | купить билет

.g_row
  .g_col_d_12.g_col_m_12.text_area
    = @event_item.content.html_safe

= render_mobile_photo_slider(@event_item.event_images)

.g_row.add_card_panel
  .g_col_d_6.g_col_m_6
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>
  .g_col_d_6.g_col_m_6
    .button.buy_ticket
      | купить билет
