.flash {
  padding: 10px;
  margin: 0;
  color: #fff;
  z-index: 2;
  position: relative;
  opacity: 0.7;

  &.flash--notice {
    background-color: #0074D9;
  }

  &.flash--alert {
    background-color: #ff0033;
  }

  &.flash--hide {
    visibility: hidden;
    opacity: 0;
  }

  .text-center {
    text-align: center;
  }
}
