- user_id ||= nil

.sub_block
  .label = t('custom.modules.blank_transfers.own_records')

  table.table
    thead
      tr
        th Кассир, отправивший бланки
        th Количество бланков
        th

    tbody
      - blank_transfers_to_me(user_id).each do |transfer|
       tr
        td = transfer.assignor.full_name
        td = transfer.counter
        td = link_to t('labels.buttons.confirm'), finish_blank_transfer_path(transfer, back: request.path), method: :put
