= form_for(@blank_transfer ||= BlankTransfer.new) do |f|
  input style="display: none" name="back" value="#{ current_system_user.system_user_role.alias == 'kassir_administrator' ? blank_transfers_path : main_page_path }"

  .field
    label = t("custom.modules.blank_transfers.blank_type")

    = f.select :blank_type_id, options_for_select(BlankType.all.collect { |u| [u.name, u.id] })

  .field.js_events_list
    label = t("custom.modules.event_items.one_item")

    = f.select :event_item_id, options_for_select(EventItem.all.collect { |u| [u.name, u.id] })

  - if !['kassir', 'kassir_major'].include? current_system_user.system_user_role.alias
    .field
      label = t("custom.modules.system_user_roles.kassir")

      = f.select :assignee_id, options_for_select(kassirs_to_select)

  .field.text_field
    label = t("form.labels.count") + "*"

    = f.text_field :counter

  = f.submit t("labels.buttons.add"), class: "btn blue_btn"
