.sub_block
  .label
    = t("custom.modules.blank_transfers.edit_record")
    - if current_system_user.system_user_role.alias == "administrator"
      = link_to t ('custom.modules.blank_transfers.all_records'), blank_transfers_path, class: "btn blue_btn"

  = render 'form'
