= form_for @item do |f|

  = render_form(f, @fields).html_safe

  = hidden_field_tag "current_event_item_id", @item.event_item_id

  #tickets
    table.table
      thead
        tr
          th
            a href="#"
              = t("custom.modules.schemas.number")
          th
            a href="#"
              = t("custom.modules.schemas.section")
          th
            a href="#"
              = t("custom.modules.schemas.row")
          th
            a href="#"
              = t("custom.modules.schemas.seat")
          th
            a href="#"
              = t("custom.modules.schemas.sale")
          th
            a href="#"
              = t("custom.modules.schemas.price")
          th
      tbody
        - tickets = @item.tickets
        - total = 0
        - tickets.each do |ticket|
          - ticket_price = ticket.price
          - ticket_discount = "-"
          - if !ticket.ticket_discount.nil?
            - if @item.updated_at <= ticket.ticket_discount.date
              - ticket_price = TicketDiscount.get_price_by_discount_without_date_link(ticket)
              - ticket_discount = ticket.ticket_discount.name
            - else
              - ticket_price = ticket.price

          - total = total + ticket_price
          - seat_item = ticket.seat_item
          tr.ticket
            td
              - if ticket.number.nil?
                | -
              - else
                = ticket.number
            td
              input.ticket_id type="hidden" name="payment[ticket_id][#{ticket.id}]" value="#{ticket.id}"
              = seat_item.sector_group.name
            td
              = seat_item.row
            td
              = seat_item.number
            td
              = ticket_discount
            td
              = ticket_price
            td.btns
              .btn.blue_btn.print_ticket
                = t("labels.buttons.print")
              .btn.red_btn.remove_ticket
                = t("labels.buttons.delete")
        - if (tickets.count != 0)
          tr.ticket
            td colspan="5"
              = t("form.labels.result")
            td
              = total
            td




  = f.submit t('labels.buttons.save'), class: "btn blue_btn"