.list_element
  - if @promo.image.file?
    = link_to Rails.application.routes.url_helpers.promo_path(@promo.id), class: "list_element_img"
      = image_tag @promo.image.url(:list)
  div class=(@promo.image.file? ? 'list_element_info' : 'list_element_info without_image')
    .date.date_panel
      = (@promo.published_at.nil?) ? "—" : @promo.published_at.strftime("%d.%m.%Y")
    .label
      = @promo.name
    .text
      = @promo.description
    = link_to "подробнее...", Rails.application.routes.url_helpers.promo_path(@promo.id), class: "link"