.g_row
  .g_col_d_12
    ul#sale_points_cities
      - i = 0
      - @cities.each do |city|
        li class=((i == 0) ? "active" : "")
          = link_to city.name, "##{city.alias}"
        - i = i + 1

.g_row
  .g_col_d_12#sale_points
    - i = 0
    - @cities.each do |city|
      - i = i + 1
      ul#sale_points_list class=((i == 1) ? "active" : "")
        - j = 0
        - @sale_points.where(:city_id => city.id).each do |item|
          - j= j + 1
          li.list_element
            = link_to Rails.application.routes.url_helpers.sale_points_path + "/#{item.id}", class: "list_element_image"
              = image_tag item.image.url(:list), class: "image"
              .number
                = j
            .list_element_info
              = link_to item.name, Rails.application.routes.url_helpers.sale_points_path + "/#{item.id}", class: "link"
              .address
                = item.address
              .work_time
                | Режим работы:&nbsp;
                span.value
                  = item.work_time
              .lunch_time
                | Обед:&nbsp;
                span.value
                  = item.lunch_time
              .phone_number
                | Контактный телефон:&nbsp;
                span.value
                  = item.phone
.g_row
  .g_col_d_12#sale_points_show_map
    | Скрыть карту
  ul#maps
    - i = 0
    - @cities.each do |city|
      - i = i + 1
      li class=((i == 1) ? "active map_cnt" : "map_cnt") id=(city.alias) data-id=(city.id) data-alias=(city.alias) data-coorx=(city.coor_x) data-coory=(city.coor_y)