#sale_point data-id=(@sale_point.id)
  .g_row
    .g_col_d_4
      .sale_point_info
        = link_to @sale_point.name, "#", class: "link"
        .address
          = @sale_point.address
        .work_time
          | Режим работы:&nbsp;
          span.value
            = @sale_point.work_time
        .lunch_time
          | Обед:&nbsp;
          span.value
            = @sale_point.lunch_time
        .phone_number
          | Контактный телефон:&nbsp;
          span.value
            = @sale_point.phone
    .g_col_d_8
      #map.map.form_bg

  = render_photo_slider(@sale_point.sale_point_images)
