#search_result
  .g_row
    .g_col_d_12
      .search_info
        .info
          | По запросу&nbsp;"
          span.search_str
            = "тест#{}"
          | "&nbsp;найдено&nbsp;
          = "139"
          | &nbsp;совпадений.
        .actions
          | Сортировка:&nbsp;
          span.choosen
            | По дате
          |,&nbsp;
          = link_to "по разделам", "#", class: "link"

  .g_row
    .g_col_d_12
      = render_desktop_items_list_without_image(@items, true)