.g_row
  .g_col_d_12.g_col_m_12.text_area
    - if @entity.image.file?
      = image_tag @entity.image.url(:card), class: "image left"
    = @entity.content.html_safe

= render_mobile_photo_slider(@images)