.g_row#user_profile
  .form_bg
    .bg
    .g_col_d_12.g_col_m_12
      .header
        | Личные данные
      = form_tag("", :id=>"user_profile_form", :method=>'post', :multipart => true) do
        table.inputs
          tr.input_cnt
            td
              label
                | Фамилия:
            td
              = text_field_tag "last_name", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Имя:
            td
              = text_field_tag "first_name", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Отчество:
            td
              = text_field_tag "middle_name", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Телефон:
            td
              = text_field_tag "phone_number", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Email:
            td
              = text_field_tag "email", nil, :class => "input"
          tr.input_cnt
            td
              label
                | № дисконтной карты:
            td
              = text_field_tag "card_number", nil, :class => "input"

        = submit_tag "Сохранить", :class => "button small_button"

    .g_col_d_12.g_col_m_12
      .header
        | Сбросить пароль
      = form_tag("", :id => "reset_password_form", :method => 'post', :multipart => true) do
        table.inputs
          tr.input_cnt
            td
              label
                | Старые пароль:
            td
              = password_field_tag "old_password", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Новый пароль:
            td
              = password_field_tag "new_password", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Новый пароль (повторить):
            td
              = password_field_tag "repeat_new_password", nil, :class => "input"


        = submit_tag "Сохранить", :class => "button small_button"