div id="#{ @main.alias.gsub('_main', '') }"
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - sector_object = @main
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: sector_object

