.list_element
  - if @one_news.image.file?
    = link_to Rails.application.routes.url_helpers.news_path(@one_news.id), class: "list_element_img"
      = image_tag @one_news.image.url(:list)
  div class=(@one_news.image.file? ? 'list_element_info' : 'list_element_info without_image')
    .date.date_panel
      = (@one_news.published_at.nil?) ? "—" : @one_news.published_at.strftime("%d.%m.%Y")
    = link_to @one_news.name , Rails.application.routes.url_helpers.news_path(@one_news.id), class: "label"
    .text
      = @one_news.description
    = link_to "Подробнее...", Rails.application.routes.url_helpers.news_path(@one_news.id), class: "link"