/*
 *= require normalize-rails
 */

@import "visual_interfaces_d/blue_interface/core";

$shadow_color_1: #e1e1e1;

$text_color: #ffffff;
$border_color_7: #ed7f1e;
$bg_color_10: #731390;
$bg_color_11: #f9f9e1;
$bg_color_12: #878775;


@import "halls/admin/default";

@import "shared/flash_messages";

.blue_interface header ul {
  right: 30px;
}

.usual_info {
  top: -86px !important;
}

.blue_interface .frame aside {
  width: 250px;
}

.blue_interface .frame .content {
  padding: 0 0 0 250px;
}

header {
  ul {
    right: 30px !important;
    li {
      margin-left: 15px;
    }
  }
}

.first_menu_item {
  .icon {
    display: none;
  }
  .icon-arrow-down {
    display: block !important;
  }
  .icon-arrow-up {
    display: block !important;
  }
}

#legend_nav_panel {
  cursor: hand;
  position: relative;
  background: #272930;
  padding: 10px 20px 10px 20px;
  background-color: #272930;
  border-top: 1px solid #32353e;
  border-bottom: 1px solid #1a1c20;
  color: #abb4d7;
  font-size: 12px;
  text-shadow: 2px 2px 0 #24262d;
  .icon {
    font-size: 12px;
    position: absolute;
    top: 14px;
    right: 12px;
  }
}

.advanced_schema {
  .info_block {
    top: -161px !important;
  }
  #legend {
    display: none;
  }
}

.back_link {
  float: right;
  font-size: 14px;
  margin-left: 10px;
}

.back_link_2 {
  font-size: 14px;
  margin-left: 10px;
}

#tickets {
  margin-bottom: 15px;
  .non-record {
    width: 100%;
    margin: 5px 0 5px 0;
    font-size: 14px;
    text-align: center;
  }
  .btns {
    .btn {
      float: left;
      margin-right: 5px;
    }
  }
}

.search_field {
  position: relative;
  .field {
    width: 100%;
    padding-right: 120px;
    box-sizing: border-box;
    input {
      width: 100% !important;
    }
  }
  input[type=submit] {
    top: 0;
    right: 0;
    width: 120px;
    position: absolute;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

.kassir_header {
  .back_link {
    float: right;
    font-size: 14px;
  }
}

.search_result {
  .blue_btn {
    float: right;
    width: 180px;
    font-size: 16px !important;
    margin-right: 12px;
  }
}

#success_buy_stage {
  .content {
    text-align: center;
  }
}

.block {
  @extend %clearfix;
}

.order_state {
  .checkbox-cnt {
    display: none;
  }
  .print_cnt {
    display: none;
  }
}

.small_block {
  width: 200px;
  float: left;
  margin: 0 30px 30px 0;
  background: white;
  @include box_shadow(2px, 2px, 2px, 0, $shadow_color_1);
  border-bottom: 1px solid #e9e9e9;
  .value {
    width: 100%;
    padding-top: 10px;
    font-size: 42px;
    text-align: center;
  }
  .description {
    padding: 5px 10px 15px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
  }
  .btn {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  &.blue{
    background-color: #4d90fd;
    border: 1px solid #357ebd;
    color: white;
    -webkit-box-shadow: inset 1px 1px 0 0 #4e9dff;
    -moz-box-shadow: inset 1px 1px 0 0 #4e9dff;
    box-shadow: inset 1px 1px 0 0 #4e9dff;
  }
  &.no_margin_bottom {
    margin-bottom: 0;
  }
}

.table {
  thead {
    tr {
      border: 1px solid white !important;
      th {
        background: rgb(219, 219, 219);
        border: 1px solid white !important;
      }
    }
  }
}

.info_block {
  .close {
    z-index: 1000;
  }
}

.small_form {
  .label {
    font-size: 12px !important;
  }
  select {
    font-size: 12px;
    width: 100%;
  }
  input[type=text] {
    font-size: 12px;
    width: 100%;
  }
  .btn {
    width: 100%;
    margin: 10px 0 0 0;
  }
}

.hall_schema {
  width: 100%;
  height: auto;
  .marking {
    width: 87%;
    float: left;
    .scene {
      width: 100%;
      .scene_img {
        padding: 5px;
        background-color: #c0c0c0;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        border-bottom: 1px solid #e9e9e9;
        -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
        -moz-box-shadow: 0 0 1px 0 #e1e1e1;
        box-shadow: 0 0 1px 0 #e1e1e1;
      }
      @extend %clearfix;
    }
    .schema {
      width: 100%;
      position: relative;
      .group_cnt {
        width: 100%;
        margin: 15px 0 15px 0;
        .header {
          padding: 5px;
          background-color: initial;
          border-bottom: 1px solid #e9e9e9;
          -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
          -moz-box-shadow: 0 0 1px 0 #e1e1e1;
          box-shadow: 0 0 1px 0 #e1e1e1;
          font-size: 11px;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
        }
        .lines {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: block;
          margin: 0;
          padding: 0;
          list-style: none;
          margin-top: 31px;
          z-index: -1;
          li {
            display: block;
            width: 100%;
            height: 12px;
            border-bottom: 1px solid #d5d5d5;
            margin-bottom: 17px;
          }
        }
        .rows {
          width: 5%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          height: 15px;
          li {
            margin: 5px 0 5px 0;
            display: block;
            height: 100%;
            &.button {
              width: 70px;
              font-size: 12px;
              padding: 5px;
              text-align: center;
              line-height: 14px;
              height: 14px;
              color: white;
              background-color: grey;
              border-bottom: 1px solid #e9e9e9;
              -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
              -moz-box-shadow: 0 0 1px 0 #e1e1e1;
              box-shadow: 0 0 1px 0 #e1e1e1;
            }
          }
        }
        .places {
          width: 93%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          li.row {
            width: 100%;
            margin: 5px 0 5px 0;
            ul {
              text-align: center;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              li.seat {
                display: inline-block;
                font-size: 12px;
                height: 20px;
                margin: 2px 2px 2px 2px;
                cursor: hand;
                position: relative;
                vertical-align: top;
                line-height: 20px;
                color: white;
                border-bottom: 1px solid #e9e9e9;
                -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                box-shadow: 0 0 1px 0 #e1e1e1;
                .info_block {
                  position: absolute;
                  font-size: 12px;
                  background: white;
                  top: -114px;
                  left: -12px;
                  width: 255px;
                  padding: 10px;
                  text-align: left;
                  line-height: 14px;
                  border-bottom: 1px solid #e9e9e9;
                  -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                  -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                  box-shadow: 0 0 1px 0 #e1e1e1;
                  color: grey;
                  z-index: 100;
                  .value {
                    font-weight: bold;
                  }
                  .close {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    cursor: hand;
                  }
                  .arrow {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    bottom: -10px;
                    left: 12px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid white;
                    border-bottom: 1px solid #e9e9e9;
                  }
                }
                &.weight_1 {
                  width: 20px;
                }
                &.weight_2 {
                  width: 44px;
                }
                &.weight_3 {
                  width: 68px;
                }
                &.active {
                  background: red !important;
                }
                &.non_active {
                  background: white !important;
                }
              }
              li.seat[data-state='disabled'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='hold'] {
                background: #555 !important;
                border: 1px solid red;
              }
              li.seat[data-state='booked'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='bought'] {
                background: $bg_color_12 !important;
              }
            }
          }
        }
        @extend %clearfix;
      }

    }
  }
  .legend {
    width: 13%;
    float: left;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    .form_bg {
      box-sizing: border-box;
      padding: 15px;
      border-bottom: 1px solid #e9e9e9;
      -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
      -moz-box-shadow: 0 0 1px 0 #e1e1e1;
      box-shadow: 0 0 1px 0 #e1e1e1;
      .element {
        width: 100%;
        .block {
          width: 20px;
          height: 20px;
          float: left;
          padding: 0;
          background: red;
          margin-right: 12px;
        }
        .text {
          margin: 5px 0 5px 0;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    .order_info {
      .label {
        font-size: 14px !important;
        padding-bottom: 5px;
        border-bottom: 1px solid #e9e9e9;
      }
      .main_info {
        font-size: 12px;
        font-weight: normal;
        .count, .total {
          font-weight: bold;
        }
      }
    }
    .actions {
      margin-bottom: 15px;
      .btn {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }

    }
  }
  &.full_size {
    .marking {
      width: 100%;
    }
  }
  @extend %clearfix;
}

.kassir {
  .frame {
    header {
      display: none;
    }
    .header {
      display: none;
    }
    aside {
      display: none;
    }
    .content {
      padding: 0 !important;
    }
    .small_block {
      background: #2494f2;
      width: 175px;
      text-align: center;
      text-decoration: none;

      &:hover {
        background: #0A89F2;
      }

      .date {
        .day {
          color: white;
          font-size: 36px;
          margin-top: 10px;
        }
        .another {
          color: white;
          font-size: 18px;
          margin: 0 0 10px 0;
        }
      }
      .description {
        color: white;
        font-size: 14px;
      }
    }
  }
}

.kassir_major {
  .frame {
    header {
      display: none;
    }
    .header {
      display: none;
    }
    aside {
      display: none;
    }
    .content {
      padding: 0 !important;
    }
    .small_block {
      background: #2494f2;
      width: 175px;
      text-align: center;
      text-decoration: none;

      &:hover {
        background: #0A89F2;
      }

      .date {
        .day {
          color: white;
          font-size: 36px;
          margin-top: 10px;
        }
        .another {
          color: white;
          font-size: 18px;
          margin: 0 0 10px 0;
        }
      }
      .description {
        color: white;
        font-size: 14px;
      }
    }
  }
}

.blanks_info {
  margin: 10px;
  .info {
    float: left;
    margin-right: 20px;
    .title {
      .value {
        margin: 0 10px 0 10px;
        font-weight: bold;
      }
    }
  }
  @extend %clearfix;
}

.line_block {
  padding: 5px;
  @extend %clearfix;
}

.popup_cnt {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .title {
    padding: 10px;
  }
  .btns {
    padding: 10px 0 10px 0;
    width: 300px;
    #accept_tickets, #abort_tickets {
      float: left;
      margin-right: 10px;
    }
    @extend %clearfix;
  }
  .table {
    padding: 10px;
    td:last-child {
      width: auto !important;
    }
    .btn {
      margin: 0;
      display: block;
    }
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: -1;
  }
  .form_bg {
    height: auto;
    width: 700px;
    text-align: center;
    margin: 60px auto 0 auto;
    z-index: 1000;
    background: white;
    .container_2 {
      padding: 10px 20px 10px 20px;
      box-sizing: border-box;
      position: relative;
    }
    .text {
      display: none;
    }
    form {
      input[type=text] {
        margin: 10px 0 10px 0;
      }
      .error {
        display: none;
      }
    }
  }
}

.ticket_blank {
  .left_number {
    position: absolute;
    top: 60px;
    left: 30px;
  }
  .right_number {
    position: absolute;
    top: 60px;
    left: 120px;
  }
}

.hidden {
  background: #f7f7f7 !important;
}

#confirm_book_stage .print_ticket {
  display: none;
}

.book_stage {
  .print_ticket {
    display: none !important;
  }
}

#print_checked_tickets {
  position: absolute;
  bottom: -35px;
}

#order_master .fields {
  position: relative;
}

#order_master .fields .table {
  margin-bottom: 50px;
}

.ticket_blank {
  height: 100px;
  width: 100%;
  position: relative;
}

#choose_blank_type {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

#print_results {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

#order_master {
  .custom_btns {
    padding-top: 20px;
    border-top: 1px solid grey;
    #cancel_master_stage {
      margin-right: 0;
    }
  }
  .order_stage {
    .title {
      background: grey;
      color: white;
    }
    label {
      text-align: left;
    }
  }
}

.sub_block {
  .link {
    font-size: 14px;
    display: block;
    margin: 0 0 12px 0;
    color: #4e9dff;
  }
}

.schema {
  .group {
    .header {
      display: block;
    }
  }
}

#print_results, #choose_blank_type {
  .title {
    background: grey;
    color: white;
  }
}

.special_btns {
  padding: 99px 0 10px 0;
  width: 277px;
  margin: 0 auto;
}

#yes_print {
  width: 107px;
}

#repeat_print {
  margin-right: 0 !important;
}
