= render_filter_text_field(:name, :text)
= render_filter_collection_field(:hall_id, @fields[:hall_id])
= render_filter_datetime_field(:published_at, @fields[:published_at][:label])
= render_filter_datetime_field(:date, @fields[:date][:label])