.sub_block
  .label
    = t("custom.modules.event_items.edit_record")
    - if current_system_user.system_user_role.alias == "administrator" || current_system_user.system_user_role.alias == "kassir_administrator"
      - if ['izhstal', 'cyrk'].include?(@item.hall.alias)
        = link_to t("custom.modules.schemas.item"), "/admin/advanced_schemas/#{@item.id}", class: "btn blue_btn"
      - else
        = link_to t("custom.modules.schemas.item"), "/admin/schemas/#{@item.id}", class: "btn blue_btn"
  = render 'form'
