.list_element
  .list_element_info
    .date.date_panel
      = (@item.date.nil?) ? "—" : @item.date.strftime("%d.%m.%Y")
    .label
      = @item.name
    .text
      = @item.description
    = link_to "подробнее...", Rails.application.routes.url_helpers.mobile_archive_path+"/#{@item.id}", class: "link"