.g_row#events_list_switcher
  .g_col_d_12.g_col_m_12
    .hidden_list
      | Показать фильтр

.g_row#events_filter_panel
  .g_col_d_12.g_col_m_12
    .form_bg
      .bg
      = form_tag("", :id => "filter_events_form", :method => 'get', :multipart => true) do
        table.inputs
          tr.input_cnt
            td
              label
                | Тип меропрития:
            td
              = select_tag "event_type", options_from_collection_for_select(EventType.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id), "id", "name", params[:event_type]), include_blank: "Все типы мероприятий", :class => "input"
          tr.input_cnt
            td
              label
                | Место проведения:
            td
              = select_tag "event_place", options_from_collection_for_select(Hall.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id), "id", "name", params[:event_place]), include_blank: "Все площадки", :class => "input"
          tr.input_cnt
            td
              label
                | Дата проведения:
            td
              = text_field_tag "event_data", nil, :class => "input", :placeholder => 'Выберите период', :value => @date_range
              = hidden_field_tag "date_of", params[:date_of]
              = hidden_field_tag "date_to", params[:date_to]

          tr.input_cnt
            td
              label
                | Цена:
            td
              = hidden_field_tag "price_of", params[:price_of]
              = hidden_field_tag "price_to", params[:price_to]
              .price_slider

        .button_cnt
          = submit_tag "Подобрать мероприятие", :class => "button big_button"
