= render_filter_collection_field(:event_item_id, @fields[:event_item_id])
= render_filter_collection_field(:ticket_state_id, @fields[:ticket_state_id])
= render_filter_collection_field(:user_id, @fields[:user_id])
= render_filter_collection_field(:system_user_id, @fields[:system_user_id])