.g_row#user_profile
  .form_bg
    .bg

    .g_col_d_12.g_col_m_12
      .header
        | Личные данные

    .g_col_d_12.g_col_m_12
      - if !flash[:error].nil?
        .error_line
          = flash[:error]
      - if !flash[:success].nil?
        .success_line
          = flash[:success]

    .g_col_d_12.g_col_m_12
      = form_tag(save_profile_path, :id=>"user_profile_form", :method=>'post', :multipart => true) do
        = hidden_field_tag "path", request.original_url
        table.inputs
          tr.input_cnt
            td
              label
                | Фамилия:
          tr.input_cnt
            td
              = text_field_tag "last_name", @current_user.last_name, :class => "input"
          tr.input_cnt
            td
              label
                | Имя:
          tr.input_cnt
            td
              = text_field_tag "first_name", @current_user.first_name, :class => "input"
          tr.input_cnt
            td
              label
                | Отчество:
          tr.input_cnt
            td
              = text_field_tag "middle_name", @current_user.middle_name, :class => "input"
          tr.input_cnt
            td
              label
                | Телефон:
          tr.input_cnt
            td
              = text_field_tag "phone", @current_user.phone, :class => "input"
          tr.input_cnt
            td
              label
                | Email:
          tr.input_cnt
            td
              = text_field_tag "email", @current_user.email, :class => "input"
          tr.input_cnt
            td
              label
                | № дисконтной карты:
          tr.input_cnt
            td
              = text_field_tag "discount_number", @current_user.discount_number, :class => "input"

        = submit_tag "Сохранить", :class => "button small_button"


    .g_col_d_12.g_col_m_12
      .header
        | Сбросить пароль

    .g_col_d_12.g_col_m_12
      = form_tag(change_password_path, :id => "reset_password_form", :method => 'post', :multipart => true) do
        = hidden_field_tag "path", request.original_url
        table.inputs
          tr.input_cnt
            td
              label
                | Старые пароль:
          tr.input_cnt
            td
              = password_field_tag "old_password", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Новый пароль:
          tr.input_cnt
            td
              = password_field_tag "new_password", nil, :class => "input"
          tr.input_cnt
            td
              label
                | Новый пароль (повторить):
          tr.input_cnt
            td
              = password_field_tag "repeat_new_password", nil, :class => "input"


        = submit_tag "Сохранить", :class => "button small_button"