.g_row
  .form_bg
    .bg
    .g_col_d_12.g_col_m_12
      .header
        = t("users.register_new_user")
        - if !flash[:register_error].nil?
          .error_line
            = flash[:register_error]

      = form_tag(mobile_register_path, :id=>"register_form", :method=>'post', :multipart => true) do
        table.inputs
          tr.input_cnt
            td
              label
                = "#{t('form.labels.last_name')}*:"
          tr.input_cnt
            td
              = text_field_tag "last_name", params[:last_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.first_name')}*:"
          tr.input_cnt
            td
              = text_field_tag "first_name", params[:first_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.middle_name')}:"
          tr.input_cnt
            td
              = text_field_tag "middle_name", params[:middle_name], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.phone')}:"
          tr.input_cnt
            td
              = text_field_tag "phone", params[:phone], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.email')}*:"
          tr.input_cnt
            td
              = text_field_tag "email", params[:email], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t("users.discount_number_field")}:"
          tr.input_cnt
            td
              = text_field_tag "discount_number", params[:discount_number], :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.password')}*:"
          tr.input_cnt
            td
              = password_field_tag "password", nil, :class => "input"
          tr.input_cnt
            td
              label
                = "#{t('form.labels.password_confirmation')}*:"
          tr.input_cnt
            td
              = password_field_tag "password_confirmation", nil, :class => "input"

        = submit_tag t("users.register_button"), :class => "button"