#test_dancing_room
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      -# items = @parter.seat_items.group_by { |item| item.row }
      - sector_object = @parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - grouped_seats.where('row=?',row).each do |seat|
                  - ticket = seat.tickets.first
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - if (seat.row == "7") && (seat.number == "9")
                    - i = 0
                    - while (i < 5)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "20") && (seat.number == "2")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "20") && (seat.number == "22")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "21") && (seat.number == "2")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "21") && (seat.number == "22")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "22") && (seat.number == "3")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "22") && (seat.number == "21")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1

      - items = @dancing_room.seat_items.where(:seat_item_kind_id => SeatItemKind.unfixed_kind.id)
      - if (items.count != 0)
        - item = items.first
        - ticket = Ticket.find_by(:seat_item_id => item.id, :event_item_id => @event_item.id)
        = render "desktop/schemas/dancing", seat: item, ticket: ticket
