= render_filter_text_field(:name, :text)
= render_filter_datetime_field(:published_at, @fields[:published_at][:label])
= render_filter_datetime_field(:beginning_at, @fields[:beginning_at][:label])
= render_filter_datetime_field(:ending_at, @fields[:ending_at][:label])