= form_for @item do |f|
  = render_form(f, @fields).html_safe

  .field.textarea_field
    label
      = t("form.labels.message")
    - if @item.entity_item_id.nil?
      = text_area_tag :test, t("messages.record_log_without_entity", :module_name=> ModulesD::ModuleItem.find(@item.module_item_id).name, :action_name => SystemUserActionsLogD::LogRecordState.find(@item.log_record_state_id).name)
    - else
      = text_area_tag :test, t("messages.record_log_with_entity", :module_name=> ModulesD::ModuleItem.find(@item.module_item_id).name, :action_name => SystemUserActionsLogD::LogRecordState.find(@item.log_record_state_id).name, :entity_item_id => @item.entity_item_id)


  = link_to t('labels.buttons.return'), @path, class: "btn grey_btn"