- if params[:sector_id].nil?
  #izhstal_schema.full
    .marking
      .image_cnt
        = image_tag "schemas/izhstal.png"
        - @sectors.each do |sector|
          = link_to sector.name, "?sector_id=#{sector.id}", class: "sector #{sector.alias}"
- else
  #izhstal_schema
    .marking
      .schema
        - if ['i_dancing_room_main', 'i_fanzone_main'].include?(@main.alias)
          - @dancing_room = @main

          #i_dancing_room = render "desktop/schemas/dancing/dancing"

        - else
          = render "desktop/schemas/izhstal/sectors/i_sector"
