- if (items.count != 0)
  .g_row
    .g_col_d_12.g_col_m_12
      #photo_slider.slider
        - if items.count > 3
          .left_switcher
          .right_switcher
        ul.slider_children
          - items.each do |item|
            li data-img=(item.image_element.url)
              = image_tag item.image_element.url(:slider)
  = render "desktop/elements/popup/image"