- @items.each do |item|
  tr
    - @visible_fields.each do |field|
      td
        = render_table_item(field, item)
    td
      = link_to t('labels.buttons.edit'), "#{@object[:paths][:edit_path]}/#{item.id}/edit", class: "btn blue_btn"