.sub_block
  .label
    = t("custom.modules.blanks.kassir_blank_presence")
  table.table
    thead
      tr
        th
          a
            = t("custom.modules.roles.kassir")
        th
          a
          = t("custom.modules.blanks.default_blaks")
        th
          a
           = t("custom.modules.blanks.special_blanks")
    tbody
      - @kassirs.each do |kassir|
        - user = SystemMainItemsD::SystemUser.find(kassir.system_user_id)
        tr
          td
            = "#{user.first_name} #{user.last_name} (#{user.login})"
          td
            = kassir.normal_counter
          td
            = kassir.special_counter