.report
  .g_row.report_table
    .g_col_d_4
      table border="1"
        tr
          td style="text-align: right" Дата составления
          th = @report_service.ends_at.strftime('%d.%m.%Y')

        - if cookies["kassir_sale_point_item_id_for_user_#{ current_system_user.id }".to_sym].present?
          tr
            td style="text-align: right" Точка продаж
            th = SalePointItem.find(cookies["kassir_sale_point_item_id_for_user_#{ current_system_user.id }".to_sym]).name

        tr
          td style="text-align: right" ФИО Кассира
          th = current_system_user.full_name

  br

  .g_row.report_table
    .g_col_d_12
      table border="1"
        tr.table_header
          th rowspan="2" №
          th rowspan="2" Мероприятие
          th rowspan="2" Цена, руб. коп.
          th colspan="2" Продано
          th rowspan="2" Вид оплаты
        tr
          th шт.
          th руб. коп.

        tr style="text-align: center"
          td 1
          td 2
          td 3
          td 4
          td 5
          td 6

        - @report_service.payments.each_with_index do |payment, index|
            tr
              td style="text-align: center" = "#{ index + 1 }."
              td = "«#{ payment.event_item.name }» #{ payment.event_item.date.strftime('%d.%m.%Y') }"
              td style="text-align: center" = number_to_currency(payment.tickets.first.price)
              td style="text-align: center" = payment.tickets.size
              td style="text-align: center" = number_to_currency(payment.tickets.size * payment.tickets.first.price)
              td style="text-align: center" = payment.payment_kind.try(:alias) == 'cashless' ? 'чек' : 'нал'

        tr style="text-align: center"
          td colspan="3" Итого
          td = @report_service.payments_total_size
          td = number_to_currency(@report_service.payments_total_cost)
          td все

        tr
          td colspan="6" Итого #{ number_to_currency(@report_service.payments_cash_cost) } наличными
        tr
          td colspan="6" Итого #{ number_to_currency(@report_service.payments_cashless_cost) } по чекам

  br

  / - event_items = EventItem.where(id: (@blank_transfers_to_me.map(&:event_item_id) + @payments.map{ |p| p.tickets.map(&:event_item_id) }.flatten + @blank_defects.map(&:event_item_id) + @blank_transfers_from_me.map(&:event_item_id)).uniq.compact)
  - event_items = EventItem.where(id: 1)

  .g_row.report_table
    .g_col_d_12
      table border="1"
        tr.table_header
          th rowspan="2" Наименование операции
          th colspan="2" Общий Бланк
          - event_items.each do |event_item|
            th colspan="2" Бланк "#{ event_item.name }"
          th Всего
        tr
          th кол-во
          th номера
          - event_items.each do |event_item|
            th кол-во
            th номера
          th
        tr
          td Остаток бланков на начало периода
          td = @report_service.normal_blanks_total_size
          td --
          - event_items.each do |event_item|
            td = @report_service.special_blanks_total_size(event_item.id)
            td --
          td = @report_service.all_blanks_total_size
        tr
          td Получено бланков
          td = @report_service.blank_transfers_to_me_on_normal_blanks_size
          td --
          - event_items.each do |event_item|
            td = @report_service.blank_transfers_to_me_on_special_blanks_size(event_item.id)
            td --
          td = @report_service.blank_transfers_to_me_size
        tr
          td Реализовано бланков
          td = @report_service.payments_on_normal_blanks_size
          td = simple_format @report_service.payments_on_normal_blanks_numbers
          - event_items.each do |event_item|
            td = @report_service.payments_on_special_blanks_size
            td = simple_format @report_service.payments_on_special_blanks_numbers
          td = @report_service.payments_total_size
        tr
          td Брак
          td = @report_service.blank_defects_on_normal_blanks_size
          td = simple_format @report_service.blank_defects_on_normal_blanks_numbers
          - event_items.each do |event_item|
            td = @report_service.blank_defects_on_special_blanks_size(event_item.id)
            td = simple_format @report_service.blank_defects_on_special_blanks_numbers(event_item.id)
          td = @report_service.blank_defects.size
        tr
          td Возвращено бланков
          td = @report_service.blank_transfers_from_me_on_normal_blanks_size
          td --
          - event_items.each do |event_item|
            td = @report_service.blank_transfers_from_me_on_special_blanks_size(event_item.id)
            td --
          td = @report_service.blank_transfers_from_me_size
        tr
          td Остаток бланков на конец периода
          td = @report_service.blank_stocks_on_normal_blanks_size
          td --
          - event_items.each do |event_item|
            td = @report_service.blank_stocks_on_special_blanks_size(event_item.id)
            td --
          td = @report_service.blank_stocks_size

  .g_row.report_text
    .g_col_d_6
      p Отчёт сдал: ________________

    .g_col_d_6
      p Отчёт принял: ________________

  .g_row.report_text
    .g_col_d_6
      p Деньги в сумме

    .g_col_d_6
      p style="text-align: right" коп.

  .g_row.report_signature
    .g_col_d_6

    .g_col_d_6 style="font-size: 12px" прописью

  .g_row.report_text
    .g_col_d_6
      p Принял «____» ______________ г.

    .g_col_d_6
      p
        | /

  br
