.sub_block
  .label
    = t("custom.modules.blanks.allowed_blank_count_into_office")
  table.table
    thead
      tr
        th
          a
            = t("custom.modules.blank_requests.blank_type")
        th
          a
            = t("custom.modules.blanks.blanks_count")
        th
          a
            = t("custom.modules.event_items.one_event")
    tbody
      - BlankStock.global.with_blank_type.with_event_item.each do |stock|
        tr
          td = stock.blank_type.name
          td = stock.counter
          td = stock.event_item.name if stock.event_item.present?

  .label style="margin-top: 20px;"
    = t("custom.modules.blanks.allowed_kassirs_blank_count")
  table.table
    thead
      tr
        th
          a
            = t("custom.modules.roles.kassir")
        th
          a
            = t("custom.modules.blank_requests.blank_type")
        th
          a
            = t("custom.modules.blanks.blanks_count")
        th
          a
            = t("custom.modules.event_items.one_event")
    tbody
      - BlankStock.not_global.with_blank_type.with_event_item.sort_by_system_user.each do |stock|
        tr
          td = stock.system_user.full_name
          td = stock.blank_type.name
          td = stock.counter
          td = stock.event_item.name if stock.event_item.present?
