.report
  .g_row.report_table
    .g_col_d_4
      table border="1"
        tr
          td style="text-align: right" Дата отсчета
          th = @report_service.starts_at.strftime('%d.%m.%Y')

        tr
          td style="text-align: right" Дата окончания
          th = @report_service.ends_at.strftime('%d.%m.%Y')

  br

  .g_row.report_table
    .g_col_d_12
      table border="1"
        tr
          td style="text-align: center" colspan="5" Первоначальное количество билетов

        tr.table_header
          th Сектор
          th Ряд
          th Количество мест
          th Стоимость
          th Сумма

        - @report_service.event_item_sector_groups.each do |sector_group|
            - sector_group.seat_items.group_by(&:row).each do |row, seat_items|
              tr
                th = sector_group.name
                th = row
                th = seat_items.size
                th = seat_items.first.seat_item_type.price
                th = number_to_currency(seat_items.size * seat_items.first.seat_item_type.price)

  br

  - if @report_service.event_item_paid_seat_items.size > 0
    .g_row.report_table
      .g_col_d_12
        table border="1"
          tr
            td style="text-align: center" colspan="5" Проданное количество билетов

          tr.table_header
            th Сектор
            th Ряд
            th Количество мест
            th Стоимость
            th Сумма

          - @report_service.event_item_paid_seat_items.group_by(&:sector_group_id).each do |sector_group_id, seat_items|
            - seat_items.group_by(&:row).each do |row, seat_items|
              tr
                th = seat_items.first.sector_group.name
                th = row
                th = seat_items.size
                th = seat_items.first.seat_item_type.price
                th = number_to_currency(seat_items.size * seat_items.first.seat_item_type.price)

br
