<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:MergeAcross="5"><Data ss:Type="String">Первоначальное количество билетов</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Сектор</Data></Cell>
        <Cell><Data ss:Type="String">Ряд</Data></Cell>
        <Cell><Data ss:Type="String">Количество мест</Data></Cell>
        <Cell><Data ss:Type="String">Стоимость</Data></Cell>
        <Cell><Data ss:Type="String">Сумма</Data></Cell>
      </Row>
      <% @report_service.event_item_sector_groups.each do |sector_group| %>
        <% sector_group.seat_items.group_by(&:row).each do |row, seat_items| %>
          <Row>
            <Cell><Data ss:Type="String"><%= sector_group.name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= row %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= seat_items.size %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= seat_items.first.seat_item_type.price %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= number_to_currency(seat_items.size * seat_items.first.seat_item_type.price) %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>

    <Table>
      <Row>
        <Cell ss:MergeAcross="5"><Data ss:Type="String">Проданное количество билетов</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Сектор</Data></Cell>
        <Cell><Data ss:Type="String">Ряд</Data></Cell>
        <Cell><Data ss:Type="String">Количество мест</Data></Cell>
        <Cell><Data ss:Type="String">Стоимость</Data></Cell>
        <Cell><Data ss:Type="String">Сумма</Data></Cell>
      </Row>
      <% @report_service.event_item_paid_seat_items.group_by(&:sector_group_id).each do |sector_group_id, seat_items| %>
        <% seat_items.group_by(&:row).each do |row, seat_items| %>
          <Row>
            <Cell><Data ss:Type="String"><%= seat_items.first.sector_group.name %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= row %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= seat_items.size %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= seat_items.first.seat_item_type.price %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= number_to_currency(seat_items.size * seat_items.first.seat_item_type.price) %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
