.sub_block
  ul
    li = link_to t("custom.modules.reports.actual_blank_counters"), current_blanks_state_reports_path, target: "_blank"
    li = link_to t("custom.modules.reports.blank_defects"), blank_defects_path, target: "_blank"

br

.sub_block
  .label
    = t("labels.strings.receipts_for_kassirs_for_delivery")

  table.table
    thead
      tr
        th
          a
            = t("custom.modules.roles.kassir")
        th
        th
    tbody
      - BlankTransfer.in_delivery.group_by(&:assignee_id).each do |user_id, blank_transfers|
        td = SystemMainItemsD::SystemUser.find(user_id).full_name
        td
          ul
            - blank_transfers.each do |blank_transfer|
              li
                = blank_transfer.counter
                |  - 
                = link_to t('custom.modules.blank_transfers.edit_record'), edit_blank_transfer_path(blank_transfer), target: '_blank'
        td
          = link_to t("labels.strings.generate_receipts"), "/admin/reports/note_per_blanks_report?ids=" + blank_transfers.map(&:id).join(','), class: "btn blue_btn", target: "_blank"

br

.sub_block
  .label = t("custom.modules.reports.kassir_productivity")

  = form_tag kassir_productivity_reports_path, method: :get, target: '_blank' do |f|

    .field
      label = t("custom.modules.system_user_roles.kassir")

      = select_tag :system_user_id, options_for_select(kassirs_to_select)

    .field
      label = t('custom.modules.reports.starts_at')

      = text_field :starts_at, nil, class: 'datetimepicker'

    .field
      label = t('custom.modules.reports.ends_at')

      = text_field :ends_at, nil, class: 'datetimepicker'

    .field
      label= t('custom.modules.reports.format')

      = select_tag :format, options_for_select([["HTML", "html"], ["XLS", "xls"]], "html")

    = submit_tag t("labels.strings.generate_receipts"), class: "btn blue_btn"

br

.sub_block
  .label = t("custom.modules.reports.event_items")

  = form_tag event_items_reports_path, method: :get, target: '_blank' do |f|

    .field
      label = t("custom.modules.event_items.name")

      = select_tag :event_item_id, options_for_select(events_to_select)

    .field
      label = t('custom.modules.reports.starts_at')

      = text_field :starts_at, nil, class: 'datetimepicker'

    .field
      label = t('custom.modules.reports.ends_at')

      = text_field :ends_at, nil, class: 'datetimepicker'

    .field
      label= t('custom.modules.reports.format')

      = select_tag :format, options_for_select([["HTML", "html"], ["XLS", "xls"]], "html")

    = submit_tag t("labels.strings.generate_receipts"), class: "btn blue_btn"
