.report
  .g_row.report_table
    .g_col_d_4
      table border="1"
        tr
          td style="text-align: right" Дата отсчета
          th = @report_service.starts_at.strftime('%d.%m.%Y')

        tr
          td style="text-align: right" Дата окончания
          th = @report_service.ends_at.strftime('%d.%m.%Y')

        - if cookies["kassir_sale_point_item_id_for_user_#{ @report_service.system_user.id }".to_sym].present?
          tr
            td style="text-align: right" Точка продаж
            th = SalePointItem.find(cookies["kassir_sale_point_item_id_for_user_#{ @report_service.system_user.id }".to_sym]).name

        tr
          td style="text-align: right" ФИО Кассира
          th = @report_service.system_user.full_name

  br

  .g_row.report_table
    .g_col_d_12
      table border="1"
        tr.table_header
          th Количество проданных билетов
          th Стоимость проданных билетов
        tr
          td style="text-align: center" = @report_service.payments_total_size
          td style="text-align: center" = number_to_currency(@report_service.payments_total_cost)

  .g_row.report_text
    .g_col_d_6
      p Отчёт сдал: ________________

    .g_col_d_6
      p Отчёт принял: ________________
