.sub_block
  .label
    = t("custom.modules.reports.blanks_state_by_kassirs")
  table.table
    thead
      tr
        th
          a
            = t("custom.modules.roles.kassir")
        th
          a
            = t("labels.strings.free_information")

    tbody
      - @kassirs.group_by(&:system_user_id).each do |key, value|
        tr
          td
            = SystemMainItemsD::SystemUser.find(key).full_name
          td
            ul
              - value.each do |kassir|
                li
                  - if kassir.blank_type.alias == BlankType.normal_type.alias
                    = "#{kassir.blank_type.name} - #{kassir.value}"
                  - else
                    = "#{kassir.blank_type.name} - #{kassir.event_item.name} - #{kassir.value}"