<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Дата отсчета</Data></Cell>
        <Cell><Data ss:Type="String">Дата окончания</Data></Cell>
        <% if cookies["kassir_sale_point_item_id_for_user_#{ @report_service.system_user.id }".to_sym].present? %>
          <Cell><Data ss:Type="String">Точка продаж</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">ФИО Кассира</Data></Cell>
        <Cell><Data ss:Type="String">Количество проданных билетов</Data></Cell>
        <Cell><Data ss:Type="String">Стоимость проданных билетов</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= @report_service.starts_at.strftime('%d.%m.%Y') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @report_service.ends_at.strftime('%d.%m.%Y') %></Data></Cell>
        <% if cookies["kassir_sale_point_item_id_for_user_#{ @report_service.system_user.id }".to_sym].present? %>
          <Cell><Data ss:Type="String"><%= SalePointItem.find(cookies["kassir_sale_point_item_id_for_user_#{ @report_service.system_user.id }".to_sym]).name %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= @report_service.system_user.full_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @report_service.payments_total_size %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= number_to_currency(@report_service.payments_total_cost) %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
