.report
  .g_row
    .g_col_d_12 style="width: 1020px;"
      .title
        = t("labels.strings.receipt")

  .g_row.report_header
    .g_col_d_6.city style="width: 510px;"
      = t("labels.strings.receipt_address")
    .g_col_d_6.date style="width: 510px;"
      = t("labels.strings.receipt_date")

  .g_row.report_text
    .g_col_d_12
      = t("labels.strings.receipts_claim", :name => @system_user.full_name)

  .g_row.report_table
    .g_col_d_12
      table border="1"
        tr.table_header
          th
            | Мероприятие
          th
            | №
          th
            | Серия
          th
            | Номера бланков
          th
            | Количеств, шт.
          th
            | Максимальная номинальная стоимость, руб.
          th
            | Сумма, руб.
          - @blank_transfers.each do |blank_transfer|
            tr.blank_row
              td
                = blank_transfer.event_item.name if blank_transfer.event_item.present?
              td
                | -
              td
                | -
              td
                | -
              td
                = blank_transfer.counter
              td
                | -
              td
                | -

        tr.total
          td
          td
            | Итого
          td
            | -
          td
            | -
          td
            = @blank_transfers.map(&:counter).reduce(&:+)
          td
          td
            | -


  .g_row.report_text
    .g_col_d_12
      p
        = "Общее количество бланков: #{ @blank_transfers.map(&:counter).reduce(&:+) } штук на общую сумму ________ рублей."
      p
        | Указанные бланки билетов обязуюсь вернуть по первому требованию ООО «Регион Концерт Продакшн». Обязуюсь вернуть по первому требованию ООО «Регион Концерт Продакшн» денежные средства за реализованные билеты.

  .g_row.report_place
    .g_col_d_9 style="width: 765px;"
      .delimiter
        | /
    .g_col_d_3 style="width: 255px;"

  .g_row.report_signature
    .g_col_d_9.fio style="width: 765px;"
      | (Ф.И.О. полностью)
    .g_col_d_3.signature style="width: 255px;"
      | (подпись)
