#opera_theatre
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - sector_object = @parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            - if row == 5
              li.row
                ul= place_empty_seats 1

            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group

                  = place_empty_seats(1) if row == 5 && [7, 28].include?(seat.number)
                  = place_empty_seats(1) if row == 6 && [7, 29].include?(seat.number)
                  = place_empty_seats(1) if row == 7 && [7, 30].include?(seat.number)
                  = place_empty_seats(1) if row == 8 && [6, 30].include?(seat.number)

        - grouped_seats = get_grouped_seats @left_pandus, @event_item
        .opera_theatre_pandus_right
          .sub_header = @left_pandus.name
          ul.places
            - grouped_seats.group_by(&:row).each do |row, seats|
              - seats.each do |seat|
                li.row
                  ul
                    = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group

        - grouped_seats = get_grouped_seats @right_pandus, @event_item
        .opera_theatre_pandus_left
          .sub_header = @right_pandus.name
          ul.places
            - grouped_seats.group_by(&:row).each do |row, seats|
              - seats.each do |seat|
                li.row
                  ul
                    = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: seat.sector_group


    .schema
      - sector_object = @balkon
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            - if row == 5
              li.row
                ul= place_empty_seats 1

            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: sector_object
                  = place_empty_seats(1) if row == 1 && [5, 32].include?(seat.number)
                  = place_empty_seats(1) if row == 5 && [5, 24].include?(seat.number)
                  = place_empty_seats(1) if row == 6 && [5, 24].include?(seat.number)
                  = place_empty_seats(2) if row == 8 && [10].include?(seat.number)

    .schema
      - sector_object = @balkon2
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.group_by(&:row).each do |row, seats|
            li.row
              ul
                - seats.reverse.each do |seat|
                  = render "desktop/schemas/place", seat: seat, ticket: seat.tickets.first, sector_object: sector_object
