.table
  table
    tr.header
      th
        .fake_checkbox_cnt
          = check_box_tag "all", "1", { :checked => "checked" }
          label.fake_checkbox for="all"
            .tag
      th colspan="5" width="700"
        | Название
      th
        | Количество
      th
        | Стоимость
    - total_count = 0
    - total_price = 0
    - @tickets.each do |ticket|
      - if ticket.ticket_state.alias == TicketState::AVAILABLE_ALIAS
        - total_count = total_count + 1
        - total_price = total_price + ticket.price
      tr.value data-ticket-id="#{ticket.id}" class=(ticket.ticket_state.alias != TicketState::AVAILABLE_ALIAS ? "non_available" : "")
        td
          .fake_checkbox_cnt
            = check_box_tag ticket.id, "1", { :checked => "checked" }
            label.fake_checkbox for="#{ticket.id}"
              .tag
          - if ticket.ticket_state.alias != TicketState::AVAILABLE_ALIAS
            .not_available_bg
              | Билет уже куплен или забронирован
        td colspan="5"
          = "#{ticket.event_item.name} #{ticket.event_item.date.strftime("%d.%m.%Y")} #{ticket.seat_item.sector_group.name} Ряд: #{ticket.seat_item.row} Место: #{ticket.seat_item.number}"
        td.count data-count="1"
          | 1
        td.price data-price="#{ticket.price}"
          = "#{ticket.price} руб."
          .delete-box
            | X
    tr.table_footer
      td
        = link_to "Очистить", "#", class: "clear_table"
      td
      td
      td
      td
      td.visible.td_border_radius width="100"
        | Итого:
      td.visible.total_count
        = "#{total_count} шт."
      td.visible.total_price
        = "#{total_price} руб."
  .text.non-tickets
    | Не выбраны билеты
