

.g_row.schema_header
  .g_col_d_3
    .schema_hall_name
      = @event_item.hall.name
  .g_col_d_6.schema_event_name
    = @event_item.name
  .g_col_d_3.schema_date_name
    .event_info
      .date
        b
          = @event_item.date.strftime("%d")
        | &nbsp;
        = Rails.application.config.months[@event_item.date.strftime("%B")]
      .time
        b
          = @event_item.date.strftime("%H:%M")
      .delimiter
      .day
        = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]

.g_row style="margin-top: 15px; margin-bottom: 120px;"
  .g_col_d_12
    .cart_cnt
      .cart_panel
        .user
          = "Здравствуйте, #{@current_user.first_name}! В вашей корзине"
        .price_values data-price="0" data-count="0"
          span.count
            = @cart_info[0]
          | &nbsp;
          | билетов на сумму
          | &nbsp;
          span.total
            = @cart_info[1]
          | &nbsp;
          | руб.
        .btns
          /= link_to "Личный кабинет", "#", id: "user_cabinet", class: "button"
          = link_to "Оформить заказ", confirm_order_path, id: "checkout", class: "button"
    .hall_schema data-event-id="#{@event_item.id}"
      = render "desktop/schemas/#{ @hall.alias }/#{ @hall.alias }"

      .legend
        .form_bg
          .bg
          - @seat_types.each do |type|
            .element
              .block style="background-color: #{type.color}"
              .text
                = "от #{type.price} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Недоступно



= render "desktop/elements/collective_order"
