.g_row
  .g_col_d_12.form_bg.delivery_date_stage
    .bg
    - if !flash[:ticket_error].nil?
      .error
        = flash[:ticket_error]
    = form_tag(choose_delivery_data_path, :id => "delivery_data", :method => 'post', :multipart => true)
      = render "order"
      .inputs
        .header
          | Способы оплаты
          = flash[:required_fields] unless flash[:required_fields].nil?

        .checkbox_input
          .fake_checkbox_cnt_2
            = check_box_tag "cash", "1", true
            label.fake_checkbox for="cash"
              .tag
              | Наличный расчет

        .checkbox_input
          .fake_checkbox_cnt_2
            = check_box_tag "uncash"
            label.fake_checkbox for="uncash"
              .tag
              | Безналичный расчет

        .input_cnt
          = label_tag "delivery_address", "Адрес доставки:", :class => "custom_label"
          = text_field_tag "delivery_address", nil, class: "input"

      = submit_tag "Оформить заказ", class: "button"