.g_row
  .g_col_d_12.form_bg.stage.delivery_date_stage
    .bg
    - if !flash[:ticket_error].nil?
      .order_error
        = flash[:ticket_error]
    = form_tag(confirm_book_path, :id => "delivery_data", :method => 'post', :multipart => true)
      = render "order"
      = submit_tag "Оформить заказ", class: "button"