.g_row
  .g_col_d_12.form_bg.confirm_stage
    .bg
    - if !flash[:ticket_error].nil?
      .order_error
        = flash[:ticket_error]
    = form_tag(confirm_order_path, :id => "order", :method => 'post', :multipart => true)
      = render "order"
      .inputs
        .header
          | Выберите действие
          br
        .text
          - unless flash[:booking_error].nil?
            = flash[:booking_error]
        .checkbox_input
          .fake_checkbox_cnt_2
            = check_box_tag "check_buy_ticket", '1', true
            label.fake_checkbox for="check_buy_ticket"
              .tag
              | Электронный билет
        .checkbox_input
          .fake_checkbox_cnt_2
            = check_box_tag "check_delivery_ticket"
            label.fake_checkbox for="check_delivery_ticket"
              .tag
              | Доставка курьером
        - if @booking_enabled
          .checkbox_input
            .fake_checkbox_cnt_2
              = check_box_tag "check_book_ticket"
              label.fake_checkbox for="check_book_ticket"
                .tag
                | Покупка через кассу

      = submit_tag "Далее", class: "button"