.g_row
  .g_col_d_12.form_bg.stage.payment_stage
    .bg
    ul.stage_header
      li
        = link_to "Завершение покупки", "#"

    .result
      | Оплата не произведена. Пожалуйста, повторите еще раз

    = link_to "Перейти на главную", root_path, class: "button"

    .stage_footer