.g_row
  .g_col_d_12.form_bg.stage.payment_stage
    .bg

    .text
      | Для оплаты билетов через интернет нажмите на кнопку "Оплатить"

    = pay_url 'Оплатить', @transaction.id, @transaction.price, html: { class: 'button' }
