#event_card
  .g_row
    .g_col_d_8
      #event_img
        = image_tag @event_item.image.url(:card), class: "blur image custom_border"
    .g_col_d_4
      #event_additional
        .event_info
          .date
            b
              = @event_item.date.strftime("%d")
            | &nbsp;
            = Rails.application.config.months[@event_item.date.strftime("%B")]
          .time
            b
              = @event_item.date.strftime("%H:%M")
          .place
            = @event_item.hall.name
          .delimiter
          .day
            = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]

        .event_promo_text
          = @event_item.message

        .event_price
          | от&nbsp;
          b
            = get_events_border_price( "min" , @event_item.id )
          | &nbsp;руб.
        = link_to "/buy_ticket/#{@event_item.id}",  class: "buy_link"
          .button.big_button
            | купить билет

  .g_row
    .g_col_d_12.text_area#event_desc
      = @event_item.content.html_safe

  = render_photo_slider(@event_item.event_images)


  // toDO: Убрать style в стильевой файл
  .g_row#elements_footer
    .g_col_d_6
      <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>
    .g_col_d_6
      = link_to "/buy_ticket/#{@event_item.id}", class: "buy_link"
        .button.buy_button
          | купить билет
