.g_row
  .g_col_d_12.form_bg
    .bg
    .info_field
      .label
        | Название мероприятия:
      .value
        = @event_item.name
    .info_field
      .label
        | Дата проведения:
      .value
        = @event_item.date.strftime("%d.%m.%Y %H:%M:%S")
    .info_field
      .label
        | Номер брони:
      .value
        = @payment.number
    .info_field
      .text
        | Спасибо за Ваш заказ! Для выкупа билетов через кассу необходимо сообщить кассиру номер брони.
    .header.header_with_bottom
      | Билеты
    .table_cnt#payment_tickets
      = form_tag(payment_save_path, :id => "payment_history", :method => 'post', :multipart => true)
        = hidden_field_tag "payment_id", @payment.id
        .table
          table
            tr.header
              th colspan="6" width="700"
                | Название
              th
                | Количество
              th
                | Стоимость
            - total_count = 0
            - total_price = 0
            - @tickets.each do |ticket|
              - total_count = total_count + 1
              - total_price = total_price + ticket.price
              tr.value data-ticket-id="#{ticket.id}"
                td colspan="6"
                  = "Отделение: #{ticket.seat_item.sector_group.name} Ряд: #{ticket.seat_item.row} Место: #{ticket.seat_item.number}"
                td.count data-count="1"
                  | 1
                td.price data-price="#{ticket.price}"
                  = "#{ticket.price} руб."
            tr.table_footer
              td colspan="5"
              td.visible.td_border_radius width="100"
                | Итого:
              td.visible.total_count
                = "#{total_count} шт."
              td.visible.total_price
                = "#{total_price} руб."
