.g_row
  .g_col_d_12#news_desc.text_area
    - if @promo_item.image.file?
      = image_tag @promo_item.image.url(:card), class: "image left news_image"
    = @promo_item.content.html_safe

= render_photo_slider(@promo_item.promo_images)

.g_row
  .g_col_d_12
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>
