// todo: тянуть номер телефона из базы
.contacts
  .contacts_phone_number
    = link_to "tel:+7 (3412) #{Setting.get_setting("phone")}"
      span.city_code
        | (3412)
      span.phone_number
        = Setting.get_setting("phone")
  .contacts_work_time
    = Setting.get_setting("work_time")
  .contacts_callback_link
    | Заказать звонок