ul.social_icons_links
  - if !Setting.get_setting("vk_link").nil?
    li
      = link_to Setting.get_setting("vk_link"), target: "_blank"
        = image_tag "social/vk.png"
  - if !Setting.get_setting("facebook_link").nil?
    li
      = link_to Setting.get_setting("facebook_link"), target: "_blank"
        = image_tag "social/facebook.png"
  - if !Setting.get_setting("twitter_link").nil?
    li
      = link_to Setting.get_setting("twitter_link"), target: "_blank"
        = image_tag "social/twitter.png"
  - if !Setting.get_setting("instagram_link").nil?
    li
      = link_to Setting.get_setting("instagram_link"), target: "_blank"
        = image_tag "social/instagram.png"
  - if !Setting.get_setting("youtube_link").nil?
    li
      = link_to Setting.get_setting("youtube_link"), target: "_blank"
        = image_tag "social/youtube.png"