- tickets = tickets_for_room(sector_group, event_item)
- available_tickets = available_tickets_for_room(sector_group, event_item)

.places.js_order-master-room_open.js_client-master-room_open
  .dancing data-group="#{sector_group.name}" data-discount="#{ Ticket.get_discount_name(tickets.first) }" data-range="-" data-place="-" data-price="#{ tickets.first.price }" data-price-per-ticket="#{Ticket.get_actual_price(tickets.first)}" data-tickets-ids="#{ tickets.map(&:id) }" data-available-tickets-ids="#{ available_tickets.map(&:id) }" style="background-color: #{SeatItemType.get_color_by_price(tickets.first.price)}"
    | Танцпол: cвободных билетов #{ available_tickets.size } / #{ tickets.size }

= render 'desktop/schemas/dancing/dancing_modal'
