-# ticket_color = SeatItemType.get_color_by_price(ticket.price)
- ticket_color = get_ticket_color(@ticket_colors, ticket.price)

- ticket.check_current_state

- if !@advanced_mode
  li.seat data-type="fixed" data-group="#{sector_object.name}" data-seat-id="#{seat.id}" data-range="#{seat.row}" data-place="#{seat.number}" data-ticket-id="#{ticket.id}" data-price="#{Ticket.get_actual_price(ticket)}" data-discount="#{Ticket.get_discount_name(ticket)}" data-state="#{ticket.ticket_state.alias}" data-state-name="#{ticket.ticket_state.name}" style="background-color: #{ticket_color}"
    = seat.number
- else
  - if (!ticket.payment.nil?)
    - if (!ticket.payment.user.nil?)
      - user_email = ticket.payment.user.email
      - user_id = ticket.payment.user.id
    - else
      - user_email = ""
      - user_id = ""
    - if (!ticket.payment.system_user_id.nil?)
      - system_user = SystemMainItemsD::SystemUser.find(ticket.payment.system_user_id)
      - system_user_login = system_user.login
      - system_user_id = system_user.id
    - else
      - system_user_login = ""
      - system_user_id = ""
    - if !ticket.number.nil?
      - ticket_number = ticket.number
    - else
      - ticket_number = "-"
  li.seat data-type="fixed" data-ticket-number="#{ticket_number}" data-payment-id=(ticket.payment.nil? ? '0' : ticket.payment.id ) data-group="#{defined?(sector_object) ? sector_object.name : nil}" data-seat-id="#{seat.id}" data-range="#{seat.row}" data-place="#{seat.number}" data-ticket-id="#{ticket.id}" data-price="#{Ticket.get_actual_price(ticket)}" data-discount="#{Ticket.get_discount_name(ticket)}" data-state="#{ticket.ticket_state.alias}" data-state-name="#{ticket.ticket_state.name}" data-payment-number=(ticket.payment.nil? ? '0' : ticket.payment.number) data-user-id="#{user_id}" data-user="#{user_email}" data-system-user="#{system_user_login}" data-system-user-id="#{system_user_id}" style="background-color: #{ticket_color}"
    = seat.number
