.sub_block
  .event_schema.advanced_schema
    .hall_schema data-event-id="#{@event_item.id}"
      - if (@event_item.hall.alias == "test_schema")
        = render "desktop/schemas/test_schema/main"
      - else
        = render "desktop/schemas/#{ @event_item.hall.alias }/#{ @event_item.hall.alias }"

      .legend
        .form_bg.small_form
          .label
            = t 'labels.buttons.remove_selected'
          .btn.grey_btn#clear_checked_tickets
            = t 'labels.buttons.remove'

        .form_bg.small_form.js_order-master_open
          .btn.blue_btn
            = t 'labels.buttons.issue'

        .form_bg.small_form#change_price
          .label
            = t 'custom.modules.tickets.config_tickets_price'
          = form_tag("/admin/ajax_change_ticket_prices", method: "post") do
            = text_field_tag "price"
            = submit_tag t("labels.buttons.use"), class: "btn blue_btn"
        .form_bg.small_form#change_discount
          .label
            = t 'labels.strings.sales_config'
          = form_tag("/admin/ajax_change_ticket_discounts", method: "post") do
            - if @event
              - discounts = @event.ticket_discounts.not_started.collect { |u| [u.name, u.id] }
              - discounts.unshift(["Нет", 0])
              = select_tag 'ticket_states', options_for_select(discounts)
              = submit_tag t "labels.buttons.use", class: "btn blue_btn"
        #legend_nav_panel
          = t 'labels.strings.legend'
          .icon.icon-arrow-down
        .form_bg#legend
          .bg
          - seat_types = []
          - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
            - type = SeatItemType.find(seat.seat_item_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              = t 'labels.strings.unavailable'

= render "admin/schemas/order_master/order_master"

- if @dancing_room.present?
  = render "admin/schemas/order_master/order_master_room"
