.form_bg#auth_form
  .bg
  - if @current_user.nil?
    = form_tag(:log_in, url: log_in_path) do |f|

      = hidden_field_tag "current_path", request.original_url

      table.inputs
        tr.input_cnt
          td
            label
              = t("users.short_email_field")
          td
            = text_field_tag "email", nil, :class => "input"
            - if !flash[:error].nil?
              .error
                = flash[:error]

        tr.input_cnt
          td
            label
              = t("form.labels.password")
          td
            = password_field_tag "password", nil, :class => "input"

      .actions
        = submit_tag t("users.sign_in_btn"), :class => "button small_button"
        .action_links
          = link_to t("users.forget_password"), mobile_restore_path
          = link_to t("users.register_link"), mobile_register_path

    #social_auth
      span.title
        = t("users.enter_from_social")
      #social_auth_cnt
        ul.social_icons_links
          li
            = link_to "/vk"
              = image_tag "social/vk.png"
          li
            = link_to "/fb"
              = image_tag "social/facebook.png"
          li
            = link_to "/tw"
              = image_tag "social/twitter.png"
  - else
    .hello_message
      | Здравствуйте,
      span.name
       = "#{@current_user.first_name}"
    .in_cart_message
      | Ваша корзина пуста
    .btns
      = link_to "Личный кабинет", mobile_profile_path, class: "button average_button"
      = link_to "Выйти", log_out_path, class: "logout", method: "delete"