ul.events_list
  - if !@events.nil?
    - @events.each do |event|
      li.event_block
        - if event.image.file?
          = link_to Rails.application.routes.url_helpers.mobile_event_path(event.id)
            = image_tag event.image.url(:list)
        .event_info
          .date
            b
              = event.date.strftime("%d")
            | &nbsp;
            = Rails.application.config.months[event.date.strftime("%B")]
          .time
            b
              = event.date.strftime("%H:%M")
          .place
            = event.hall.name
          .delimiter
          .day
            = Rails.application.config.weekdays[event.date.wday.to_i - 1]

        .event_price
          | от&nbsp;
          b
            | 1500
          | &nbsp;руб.
        .button_cnt
          .button.average_button
            | купить билет