footer
  .g_row
    .g_col_d_12.g_col_m_12
      #footer_contacts
        = render "desktop/elements/contacts/contacts_data"
      #company_copyright
        | 2014 Продюсерская компания «План Б»
      #no_mobile
        = render_no_mobile_link