header
  .g_row
    .g_col_d_1.g_col_m_4
      #header_menu_btn
        = image_tag "m_menu.png"
      #header_auth_btn
        = image_tag "m_auth.png"
    .g_col_d_4.g_col_m_4
      #header_logo
        =link_to root_path
          =image_tag "logo.png"
    g_col_d_4.g_col_m_4
      #header_small_contacts.contacts_phone_number
        = link_to "tel:+7 (3412) #{Setting.get_setting("phone")}"
          span.city_code
            | (3412)
          span.phone_number
            = Setting.get_setting("phone")
  .g_row
    .g_col_d_12.g_col_m_12#add_action_panel
      = render "mobile/elements/main_menu"
      = render "mobile/elements/auth_widget"