ul#header_main_menu
  - @menus.where(:navigation_menu_id => nil).order("position ASC").each do |menu|
    li
      = link_to menu.name, menu.link
      ul.sub_menu
        - @menus.where(:navigation_menu_id => menu.id).order("position ASC").each do |sub_menu|
          li
            = link_to sub_menu.name, sub_menu.link