/*
*= require normalize-rails
*= require slider
*/

#order {
  .input_cnt {
    margin: 8px 0 8px 0;
    label {
      margin: 3px 0 3px 0;
    }
  }
}

// Импорт стилей сетки верстки
$desktop_width: 1020px;
@import "dm_css_grid";

// Импорт дефолтных стилей системы
@import "dm_css_effects/style_core";
@import "shared/flash_messages";

$bg_color_1: #ac2375;
$bg_color_2: #1d113a;
$bg_color_3: #2f2f2f;
$bg_color_4: #441e75;
$bg_color_5: #7a2d97;
$bg_color_6: #980d60;
$bg_color_7: #ed7f1e;
$bg_color_8: #881cad;
$bg_color_9: #ad2275;
$bg_color_10: #731390;
$bg_color_11: #f9f9e1;
$bg_color_12: #878775;
$text_color: #ffffff;
$text_color_1: #ed7f1e;
$text_color_2: #b021dc;
$text_color_3: #d4d2d2;
$text_color_4: #404040;
$attention_color: #ed7f1e;
$border_color: #861dad;
$border_color_2: #9437a7;
$border_color_3: #2a0f4c;
$border_color_4: #1d103e;
$border_color_5: #ffffff;
$border_color_6: #404040;
$border_color_7: #ed7f1e;
$input_background_color: #2b2a28;
$shadow_color: #000000;

@import "halls/desktop/default";

// toDO: убрать градиент в соответствующий гем
// toDO: распределить стили по родителям mobile и desktop
// toDO: сделать hover на социальные иконки и иконки меню
@mixin gr($color, $color2) {
  background: -moz-linear-gradient(top,  $color 0%, $color2, 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color 0%,$color2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color 0%,$color2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color 0%,$color2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}

@mixin gr1($color2, $color) {
  background: -moz-linear-gradient(top,  $color 0%, $color2, 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color 0%,$color2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color 0%,$color2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color 0%,$color2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
}

// Общие настройки для всей страницы
body {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
  height: auto;
  position: relative;
}

// Класс сброса параметров для нескольких элементов с float-свойствами
%clearfix {
  &:after {
    position   : static;
    display    : block;
    height     : 0;
    clear      : both;
    content    : "";
    visibility : hidden;
  }
}

// Подсветка изображения
%block_blur {
  @include box_shadow(0,0,8px,0,$border_color);
}
// Отключение всех отступов
.no_padding {
  padding: 0 !important;
}

.fake_checkbox_cnt {
  .fake_checkbox {
    .tag {
      width: 15px;
      height: 15px;
      margin: 0 auto;
      background: url(../images/unchecked_box.png) no-repeat;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    .tag {
      background: url(../images/checked_box.png) no-repeat;
    }
  }
}

label.custom_label {
  display: block;
  margin-bottom: 5px !important;
}

.fake_checkbox_cnt_2 {
  .fake_checkbox {
    .tag {
      width: 15px;
      height: 15px;
      float: left;
      margin-right: 5px;
      background: url(../images/unchecked_box_2.png) no-repeat;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    .tag {
      background: url(../images/checked_box_2.png) no-repeat;
    }
  }
}

/*
!CHECKED
.custom_border {
  border: 1px solid $border_color;
  @include border_radius(0px, 7px, 7px, 7px);
}

.small_link {
  color: $text_color;
  font-size: 12px;
}
#events_info {
  padding: 30px 0 0 0;
}
#last_events {
  .g_row {
    padding: 20px 0 0 0;
  }
}

#widget_panel {
  padding: 20px 0 20px 0;
}


*/

// Подложка для страницы
.main_blur {
  position: absolute;
  top: 0;
  height: 100%;
  .g_row {
    width: 1050px;
    height: 100%;
    @include box_shadow(0, 0, 120px, 30px, $border_color);
    .top_shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 70px;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(229,229,229,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(229,229,229,0) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(229,229,229,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
    }

    .down_shadow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    }
    .bg {
      display: none;
    }
  }
}

/*** ОСНОВНЫЕ ТЕКСТОВЫЕ СТИЛИ ***/
.text, .link, .bullet_list {
  font-size: 12px;
}
.text_area {
  font-size: 12px;
  color: $text_color;
  margin-top: 12px;
  p {
    margin: 0 0 12px 0;
  }
  ul {
    list-style: none;
    font-size: 12px;
    padding-left: 25px;
    margin: 0 0 12px 0;
    color: $text_color;
    li {
      &:before {
        content: "■ ";
        color: $attention_color;
      }
    }
  }
  a {
    font-size: 12px;
    color: $attention_color;
    font-weight: bold;
  }
}
// Текст
.text {
  color: $text_color;
  margin: 0 0 12px 0;
}
.text_header {
  color:  $text_color;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 12px 0;
}
// Ссылки
.link {
  font-size: 12px;
  color: $attention_color;
  font-weight: bold;
}
// Список
.bullet_list {
  list-style: none;
  font-size: 12px;
  padding-left: 25px;
  margin: 0 0 12px 0;
  color: $text_color;
  li {
    &:before {
      content: "■ ";
      color: $attention_color;
    }
  }
}
// Поля ввода
.input {
  font-size: 12px;
  padding: 5px;
  color: $text_color;
  border: 1px solid $border_color;
  background-color: $input_background_color;
  @include border_radius(7px, 7px, 7px, 7px);
  @include box_shadow(0,0,5px,0,$shadow_color);
}
// Кнопка
.button {
  display: inline-block;
  border: 1px solid $border_color_2;
  background: url(../images/btn_cover.png) no-repeat;
  background-size: cover;
  color: $text_color;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  padding: 4px 0 4px 0;
  cursor: hand;
  @include border_radius(7px, 7px, 7px, 7px);
  @include box_shadow(0,0,5px,0,$shadow_color);
  &:hover {
    transition: all 0.5s;
    background: url(../images/btn_cover_hover.png) no-repeat;
    background-size: cover;
    border: 1px solid $attention_color;
    @include box_shadow(0,0,5px,0, $attention_color);
  }
  @extend %small_button;
}
// Маленькая кнопка
%small_button {
  width: 95px;
}
// Средняя кнопка
%average_button {
  width: 112px;
}
// Большая кнопка
%big_button {
  width: 185px;
}
// Форма
.form_bg {
  border: 1px solid $border_color;
  padding: 15px;
  position: relative;
  .small_message {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .message {
    width: 100%;
    color: white;
    text-align: center;
  }
  .info_field {
    margin: 5px 0 5px 0;
    .label, .value {
      color: white;
      font-size: 12px;
      float: left;
    }
    @extend %clearfix;
    .label {
      font-weight: bold;
      margin-right: 10px;
    }
    .value {
    }
  }
  @include border_radius(10px, 10px, 10px, 10px);
  .error_line {
    font-size: 12px;
    color: red;
    margin-bottom: 15px;
  }
  .success_line {
    font-size: 12px;
    color: green;
    margin-bottom: 15px;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $bg_color_3;
    opacity: 0.5;
    z-index: -1;
    @include border_radius(10px, 10px, 10px, 10px);
  }
  .header {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px 0;
    color: $text_color;
  }
  .header_with_bottom {
    padding: 15px 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #7a2d97;
  }
  .inputs {
    width: 100%;
    .input_cnt {
      td {
        padding: 0 0 10px 0;
        .error {
          font-size: 10px;
          margin-top: 5px;
          color: $text_color_1;
        }
      }
      label {
        margin: 0 5px 0 0;
        color: $text_color;
        font-size: 13px;
      }
      input {
        width: 100%;
      }
    }
  }
  @extend %clearfix;
}
// Панель "Дата"
.date_panel {
  padding: 3px 10px 3px 10px;
  box-sizing: border-box;
  background-color: $attention_color;
  color: $text_color;
  font-size: 12px;
  display: inline;
  @include border_radius(7px, 7px, 7px, 7px);
}
// Изображение
.image {
  border: 1px solid $border_color;
  @include border_radius(0px, 7px, 7px, 7px);
  @extend %block_blur;
  &.left {
    float: left;
    margin: 0 15px 15px 0;
  }
  &.rigth {
    float: right;
    margin: 0 0 15px 15px;
  }
  &.news_image {
    max-width: 450px;
  }
}
// Таблица
.table {
  @include border_radius(7px, 7px, 7px, 7px);
  .header {
    background-color: $bg_color_5;
    color: $text_color;
    td,th {
      border-right: 1px solid $text_color;
      &:last-child {
        border-right: 0;
      }
    }
  }
  .table_footer {
    background-color: transparent;
    td {
      border: 0;
    }
    td.visible {
      background-color: $bg_color_5;
      border-right: 1px solid $text_color;
      &.td_border_radius {
        @include border_radius(0px, 0px, 0px, 7px);
      }
    }
  }
  tr {
    color: $text_color;
    background-color: rgba(0, 0, 0, 0.5);
    td, th {
      padding: 7px 7px 7px 7px;
    }
    td {
      border: 1px solid $bg_color_5;
      text-align: center;
      &:last-child {
        border-right: 2px solid $bg_color_5;
      }
    }
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}


// Блок "Заголовок"
.page_header {
  font-size: 28px;
  color: $text_color;
  margin: 10px 0 10px 0;
  display: inline-block;
  vertical-align: top;
}
.user_btns {
  display: inline-block;
  margin-top: 15px;
  .button {
    margin-left: 15px;
  }
  @extend %clearfix;
  .average_button {
    width: 150px;
  }
}
.collective_order {
  .form_bg {
    width: 320px !important;
  }
  .input {
    width: 80% !important;
  }
}
// Блок "Дата"
.date_header {
  display: inline-block;
  font-size: 12px;
  margin: 20px 10px 10px 0;
  vertical-align: top;
}
// Блок "Статус"
.status_header {
  display: inline-block;
  font-size: 12px;
  margin: 20px 0 10px 10px;
  vertical-align: top;
}
// Блок "Социальные сети"
.social_icons_links {
  @include list_style_none;
  width: 150px;
  height: 100%;
  display: table-row;
  li {
    width: 30px;
    height: auto;
    padding: 0 3px 0 3px;
    box-sizing: border-box;
    display: table-cell;
    img {
      width: 100%;
      height: auto;
    }
  }
}
// Блок "Контакты"
.contacts {
  .contacts_phone_number {
    a {
      text-decoration: none;
      color: $text_color;
      .city_code {
        font-size: 11px;
      }
      .phone_number {
        margin: 0 0 0 2px;
        font-size: 27px;
        font-weight: bold;
      }
    }
  }
  .contacts_work_time {
    margin: 2px 0 0 0;
    font-size: 11px;
    font-weight: bold;
    color: $attention_color;
  }
  .contacts_callback_link {
    margin: 2px 0 0 0;
    text-decoration: underline;
    cursor: hand;
    color: $text_color;
    font-size: 11px;
  }
}
// Блок "Форма авторизации"
#auth_form {
  margin: 0 15px 0 15px;
  .actions {
    margin: 10px 0 0 0;
    input[type=submit] {
      margin: 2px 20px 0 5px;
      float: left;
    }
    .action_links {
      float: left;
      a {
        display: block;
        font-size: 12px;
        color: $text_color;
      }
    }
    @extend %clearfix;
  }
  #social_auth {
    color: $text_color;
    font-size: 12px;
    .title {
      margin: 4px 10px 0 0;
      float: left;
    }
    #social_auth_cnt {
      width: 80px;
      float: left;
      .social_icons_links {

      }
    }
    @extend %clearfix;
  }
  .hello_message {
    color: $text_color;
    font-size: 14px;
    .name {
      margin: 0 5px 0 5px;
      color: $text_color_1;
      font-weight: bold;
    }
  }
  .in_cart_message {
    margin: 10px 0 10px 0;
    font-size: 12px;
    color: #ffffff;
    height: 55px;
    .attention {
      color: $text_color_1;
      font-weight: bold;
    }
  }
  .btns {
    position: relative;
    .button {
      float: left;
      font-size: 12px;
      width: 120px;
      margin: 0 20px 0 0;
    }
    .logout {
      font-size: 12px;
      color: $text_color;
      position: relative;
      top: 3px;
      float: right;
    }
  }
}
// Блок "Главный баннер"
#main_banner {
  position: relative;
  .slider_children {
    @include list_style_none;
    li {
      position: relative;
      max-height: 225px;
      .button {
        position: absolute;
        bottom: 15px;
        left: 15px;
      }
      width: 660px;
      a {
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .slider_paginator {
    position: absolute;
    bottom: 15px;
    right: 15px;
    @include list_style_none;
    li {
      transition: all 1s;
      width: 14px;
      height: 14px;
      background: url(../images/uncheck_btn.png) no-repeat;
      margin: 0 7px 0 7px;
      display: table-cell;
    }
    .current {
      background: url(../images/check_btn.png) no-repeat;
    }
  }
}
// Блок "Фото-слайдер"
#photo_slider {
  margin: 20px 65px 20px 65px;
  box-sizing: border-box;
  ul {
    padding: 0;
    li {
      width: 290px;
      height: auto;
      padding: 0 10px 0 10px;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
        border: 1px solid $border_color;
        @include box_shadow(0, 0, 5px, 0, $shadow_color);
      }
    }
  }
  .left_switcher, .right_switcher {
    position: absolute;
    width: 39px;
    height: 44px;
    background-color: red;
    transition: all 1s;
    cursor: hand;
    opacity: 0.4;
    &:hover {
      opacity: 0.8;
    }
  }
  .left_switcher {
    top: 95px;
    left: 20px;
    background: url(../images/left_arrow.png) no-repeat;
  }
  .right_switcher {
    top: 95px;
    right: 20px;
    background: url(../images/right_arrow.png) no-repeat;
  }

}
// Блок "Календарь"
.calendar {
  margin: 0 15px 0 15px;
  padding: 0 !important;
  overflow: hidden;
  border: 0;
  height: 182px;
  .message {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 13px;
    color: $text_color;
    text-align: left !important;
  }
  .ui-datepicker {
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    padding: 0;
    .ui-datepicker-calendar {
      font-size: 11px;
      text-align: center;
      width: 100%;
      th {
        font-size: 12px;
        color: $text_color;
        text-transform: uppercase;
        padding: 5px;
      }
      td {
        a {
          margin: 2px auto 2px auto;
          display: block;
          font-size: 11px;
          text-align: center;
          color: $text_color;
          padding-top: 1px;
          border: 1px solid $border_color;
          background-color: $input_background_color;
          text-decoration: none;
          @include border_radius(7px, 7px, 7px, 7px);
          width: 30px;
          height: 15px;
        }
        &.active {
          a {
            background-color: $bg_color_7;
            border: 1px solid $border_color_5;
          }
        }
      }
    }
    .ui-datepicker-header {
      display: inline-block;
      border: 1px solid $border_color_2;
      background: url(../images/btn_cover.png) no-repeat;
      background-size: cover;
      color: $text_color;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      padding: 5px 0 5px 0;
      cursor: hand;
      @include border_radius(7px, 7px, 7px, 7px);
      @include box_shadow(0,0,5px,0,$shadow_color);
      width: 100%;
    }
    .ui-datepicker-title {
      width: 100px;
      float: right;
      padding: 0 20px 0 20px;
      font-size: 12px;
    }
    .ui-datepicker-next, .ui-datepicker-prev {
      position: absolute;
      top: 8px;
      span {
        display: none;
      }
    }
    .ui-datepicker-next {
      right: 5px;
      border-top: 5px solid transparent;
      border-left: 10px solid $bg_color_7;
      border-bottom: 5px solid transparent;
      left: initial;
    }
    .ui-datepicker-prev {
      right: 122px;
      border-top: 5px solid transparent;
      border-right: 10px solid $bg_color_7;
      border-bottom: 5px solid transparent;
      left: initial;
    }
  }
}
// Блок "Поле поиска"
#search_form {
  width: 100%;
  position: relative;
  .input {
    width: 100%;
    padding-right: 100px;
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
#partner_list {
  overflow: hidden;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: table-cell;
      padding: 0 15px 0 0;
      width: 110px;
      vertical-align: top;
      opacity: 0.5;
      transition: all 0.5s;
      &:hover {
        transition: all 0.5s;
        opacity: 0.9;
      }
      img {
        width: 100%;
        height: auto;
        cursor: hand;
      }
    }
  }
}

// Стили для полноэкранной версии
.desktop {
  margin: 0 0 30px 0;
  padding: 0 0 100px 0;
  // Подложка для страницы
  .main_bg {
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .main_blur {
    .g_row {
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $bg_color_2;
        opacity: 0.45;
        top: 0;
      }
    }
  }
  // Блок "Верхний блок на главной странице"
  #events_info {
    margin-bottom: 15px;
  }
  #widget_panel {
    margin-bottom: 15px;
  }
  // Блок "Последние новости"
  #news_panel {
    ul {
      @include list_style_none;
      li {
        @extend %clearfix;
        margin: 0 0 15px 0;
        &:hover {
          .image_holder {
            @extend %block_blur;
          }
        }
        .image_holder {
          max-height: 55px;
          overflow: hidden;
          float: left;
          width: 40%;
          img {
            transition: all 1s;
            width: 100%;
            height: auto;
            float: left;
          }
        }
        .content {
          width: 60%;
          padding: 10px 10px 0 10px;
          box-sizing: border-box;
          float: left;
          .news_date {
            font-size: 10px;
            color: $text_color;
            margin: 0 0 5px 0;
          }
          a {
            font-size: 12px;
            color: $attention_color;
          }
        }
      }
    }
    #show_all_news {
      color: $text_color;
      float: right;
      font-size: 12px;
      margin: 0 10px 0 0;
    }
  }
  // Блок "Список событий"
  #events_list {
    @include list_style_none;
    li {
      width: 50%;
      height: 230px;
      padding: 0 10px 30px 10px;
      box-sizing: border-box;
      float: left;
      position: relative;
      overflow: hidden;
      a.event_link {
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid $border_color;
        @include border_radius(0px, 7px, 7px, 7px);
        overflow: hidden;
        transition: all 1s;
        &:hover {
          @extend %block_blur;
        }
        img {
          height: 100%;
          width: auto;
        }
      }
      .event_info {
        position: absolute;
        top: 0;
        right: 9px;
        background-color: $bg_color_1;
        width: 150px;
        padding: 5px;
        height: 60px !important;
        color: $text_color;
        @include border_radius(0, 7px, 0, 0);
        @include box_shadow(0,0,5px,0,$shadow_color);
        .date {
          font-size: 16px;
        }
        .time {
          font-size: 12px;
        }
        .place {
          position: absolute;
          font-size: 12px;
          bottom: 5px;
          left: 5px;
        }
        .delimiter {
          position: absolute;
          width: 1px;
          height: 70px;
          background-color: $text_color;
          right: 40px;
          top: 0;
        }
        .day {
          position: absolute;
          right: 10px;
          top: 5px;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .event_price {
        position: absolute;
        top: 120px;
        right: 9px;
        background-color: $bg_color_1;
        width: 90px;
        padding: 5px;
        font-size: 14px;
        color: $text_color;
        text-align: center;
        @include box_shadow(0,0,5px,0,$shadow_color);
      }
      .button {
        position: absolute;
        top: 165px;
        right: 35px;
      }
    }
  }
  // Блок "Контакты"
  .contacts {
    * {
      text-align: right;
    }
  }
  // Блок "Хлебные крошки"
  #breadcrumbs {
    padding: 10px 0 10px 0;
    font-size: 14px;
    color: $text_color_2;
    ul {
      display: inline-block;
      @include list_style_none;
      li {
        display: inline-block;
        a {
          color: $text_color_2;
        }
      }
    }
  }
  #register_form {
    padding: 15px 0 0 0;
    border-top: 1px solid $bg_color_5;
    .button {
      display: block;
      margin: 0 0 0 auto;
      width: 125px;
    }
  }
  // Блок "Профиль пользователя"
  #user_profile, .form_cnt {
    .bg {
      z-index: 0;
    }
    // Блок "Личные данные"
    #user_profile_form {
      padding: 15px 0 0 0;
      border-top: 1px solid $bg_color_5;
      .button {
        display: block;
        margin: 0 0 0 auto;
      }
    }
    // Блок "Сбросить пароль"
    #reset_password_form {
      padding: 15px 0 0 0;
      border-top: 1px solid $bg_color_5;
      .button {
        display: block;
        margin: 0 0 0 auto;
      }
    }
  }
  // Блок "Точки продаж"
  #sale_points_cities {
    padding: 0;
    margin: 0;
    @include list_style_none;
    margin: 0 0 15px 0;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      background-color: $bg_color_6;
      padding: 3px 0 3px 0;
      width: 120px;
      text-align: center;
      a {
        text-decoration: none;
        color: $text_color_3;
        font-size: 14px;
      }
      &.active, &:hover {
        transition: all 1s;
        background-color: $bg_color_1;
        a {
          color: $text_color;
        }
      }
    }
  }
  #sale_points_list {
    padding: 0;
    margin: 0;
    display: none;
    &.active {
      display: block;
    }
    @include list_style_none;
    .list_element {
      float: left;
      width: 50%;
      margin: 0 0 25px 0;
      .list_element_image {
        position: relative;
        width: 40%;
        display: block;
        float: left;
        max-height: 135px;
        overflow: hidden;
        .image {
          width: 100%;
          height: auto;
        }
        .number {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 15px;
          height: 20px;
          border: 5px solid $border_color;
          background: $text_color;
          text-decoration: none;
          font-weight: bold;
          color: $border_color;
          padding: 0 0 0 5px;
          @include border_radius(15px, 15px, 15px, 15px);
        }
      }
      .list_element_info  {
        width: 60%;
        float: left;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        color: $text_color;
        font-size: 12px;
        .link {
          font-size: 16px;
          margin: 0 0 10px 0;
          display: block;
          font-weight: bold;
        }
        .value {
          font-weight: bold;
        }
      }

    }
  }
  #sale_points_show_map {
    background-color: $bg_color_1;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 14px;
    cursor: hand;
    text-decoration: underline;
    color: $text_color;
  }
  // Блок "Точка продажи"
  #sale_point {
    color: $text_color;
    font-size: 12px;
    .sale_point_info {
      margin: 65px 0 0 0;
      .link {
        font-size: 14px;
        display: block;
        margin: 0 0 15px 0;
      }
      .value {
        font-weight: bold;
      }
    }
    .map {
      width: 100%;
      height: 250px;
      box-sizing: border-box;
    }
  }
  // Блок "Фильтр событий"
  #events_filter_panel {
    padding: 15px 0 15px 0;
    .event_type_col {
      width: 200px;
    }
    .event_place_col {
      width: 147px;
    }
    .event_date_col {
      width: 184px;
    }
    .event_price_col {
      width: 269px;
    }
    #filter_events_form {
      table.inputs {
        display: block;
        width: 800px;
        margin: 0 auto;
        th {
          font-size: 12px;
          color: $text_color;
          text-align: left;
          padding: 5px 0 5px 0;
          font-weight: normal;
        }
        td {
          padding: 0 25px 0 0;
          box-sizing: border-box;
          input, select {
            width: 100%;
          }
        }
      }
      #clear_filter_events_form {
        text-decoration: underline;
        font-size: 12px;
        color: $text_color;
        cursor: hand;
        float: left;
        padding: 30px 0 0 0;
      }
      input[type=submit] {
        float: right;
        margin: 20px 0 0 0;
      }
      .button {
        @extend %big_button;
      }
    }
  }
  // Блок "Шапка"
  header {
    * {
      z-index: 999;
    }
    #header_logo {
      position: relative;
      a {
        width: 100%;
        position: absolute;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    #header_main_menu {
      display: table-row;
      @include list_style_none;
      li.menu {
        float: left;
        margin: 0 12px 0 0;
        display: block;
        position: relative;
        .button {
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
          @extend %average_button;
        }
        .sub_menu {
          padding: 0;
          margin: 0;
          list-style: none;
          display: none;
          position: absolute;
          background: $bg_color_7;
          font-size: 12px;
          width: 100%;
          top: 20px;
          z-index: -1;
          li {
            padding: 5px 10px 5px 10px;
            border: 1px solid #A65715;
            a {
              text-decoration: none;
              color: $text_color;
              width: 100%;
              height: 100%;
            }
            &:first-child {
              padding-top: 10px;
            }
          }
        }
        &:hover {
          .sub_menu {
            display: block;
          }
        }
      }
    }
    #social_icons_cnt, #search_form_cnt {
      margin: 32px 0 0 0;
    }
    #header_contacts {
      margin: 25px 0 0 0;
    }
    #header_main_menu_cnt {
      margin: 15px 0 15px 0;
    }
  }
  // Блок "Корзина", Блок "Заказ"
  #cart, #order, #delivery_data, .table_cnt {
    .table {
      width: 100%;
      overflow: hidden;
      position: relative;
      table {
        width: 100%;
        font-size: 12px;

        tr {

          td {

            &.price {
              position: relative;
            }

            .delete-box {
              position: absolute;
              top: 15%;
              right: 10%;
              width: 20px;
              height: 20px;
              border: 1px solid red;
              color: red;
              line-height: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
    #clear_cart {
      color: $text_color;
      font-size: 12px;
      position: absolute;
      bottom: 65px;
      left: 12px;
    }
    .clear_table {
      color: $text_color;
    }
    .button {
      // margin: 20px 0 0 auto;
      display: block;
      @extend %average_button;
    }
    .text.non-tickets {
      display: none;
      font-size: 16px;
    }
    .inputs {
      margin: 40px 0 20px 0;
      width: 50%;
      .header {
        width: 100%;
        padding-bottom: 10px;
        margin: 0;
        border-bottom: 1px solid $border_color_2;
      }
      .checkbox_input {
        padding: 5px;
        label {
          margin-left: 10px;
          color: $text_color;
          font-size: 15px;
        }
      }
    }
  }
  // Блок "Результаты поиска"
  #search_result {
    .search_info {
      color: $text_color;
      font-size: 12px;
      text-align: center;
      margin-bottom: 20px;
      .search_str {
        font-weight: bold;
      }
      .choosen {
        font-weight: bold;
      }
    }
  }
  // Блок "Список элементов"
  .list_elements {
    @include list_style_none;
    .list_element {
      padding: 15px 0 15px 0;
      @extend %clearfix;
      .list_element_img {
        display: block;
        width: 30%;
        box-sizing: border-box;
        float: left;
        max-height: 140px;
        overflow: hidden;
        @extend %block_blur;
        img {
          width: 100%;
          height: auto;
        }
      }
      .list_element_info {
        width: 70%;
        float: left;
        box-sizing: border-box;
        padding: 0 0 0 15px;
        .date {
          display: inline-block;
        }
        .label {
          padding: 0 10px 0 10px;
          color: $text_color;
          font-size: 16px;
          display: inline-block;
          font-weight: bold;
        }
        .text {
          padding: 15px 0 15px 0;
        }
        .link {
          float: right;
        }
        &.without_image {
          width: 100%;
          height: 140px;
        }
        /*
        .link {
          color: $text_color;
          float: right;
          font-size: 14px;
        }
        */
      }
    }
  }
  // Блок "Форма заявки на сертификат"
  #certificate {
    margin-bottom: 15px;
    #fake_certificate_form {
      text-align: center;
      color: $text_color;
      margin: 60px 0 0 0;
      label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 15px 0;
      }
      input[type=text] {
        width: 80px;
        font-size: 14px;
      }
      .button {
        display: block;
        margin: 15px auto 0 auto;
        font-size: 16px;
        @extend %big_button;
      }
    }
  }
  // Блок "Список элементов без изображения"
  .list_elements_without_image {
    @include list_style_none;
    .list_element {
      padding: 15px 0 15px 0;
      border-top: 1px solid $border_color_4;
      @extend %clearfix;
      .list_element_info {
        width: 100%;
        .date {
          display: inline-block;
        }
        .label {
          padding: 0 10px 0 10px;
          color: $text_color;
          font-size: 16px;
          display: inline-block;
          font-weight: bold;
        }
        .text {
          padding: 15px 0 15px 0;
        }
        .link {
          color: $text_color;
          float: right;
        }
        .category {
          color: $text_color;
          font-size: 12px;
          margin-bottom: 15px;
          .link {
            float: none;
            color: $attention_color;
            font-weight: normal;
          }
        }
      }
    }
  }
  // Блок "Длинный баннер"
  #long_banner {
    margin: 0 0 15px 0;
    width: 100%;
    max-height: 52px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  // Блок "Событие"
  #event_card {
    .button {
      margin: 20px 0 0 0;
      font-size: 16px;
      float: right;
    }
    #event_img {
      img {
        width: 100%;
        height: auto;

      }
    }
    #event_additional {
      .button {
        @extend %big_button;
      }
      .event_info {
        position: relative;
        background-color: $bg_color_1;
        width: 100%;
        padding: 5px;
        margin: 0 0 10px auto;
        height: 75px;
        right: 0;
        color: $text_color;
        @include box_shadow(0, 0, 5px, 0, $shadow_color);
        .date {
          font-size: 18px;
        }
        .time {
          font-size: 16px;
        }
        .place {
          position: absolute;
          font-size: 14px;
          bottom: 5px;
          left: 5px;
        }
        .delimiter {
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: $text_color;
          right: 40px;
          top: 0;
        }
        .day {
          position: absolute;
          right: 10px;
          top: 5px;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
      .event_price {
        background-color: $bg_color_1;
        width: 100px;
        padding: 7px;
        margin: 10px 0 0 auto;
        font-size: 16px;
        color: $text_color;
        text-align: center;
        @include box_shadow(0, 0, 5px, 0, $shadow_color);
      }
      .event_promo_text {
        margin: 5px 0 5px 0;
        color: $text_color;
        font-size: 14px;
        text-align: right;
      }
    }
  }
  // Блок "Подвал карточки"
  #elements_footer {
    .button {
      @extend %big_button;
    }
  }
  // Блок "Быстрые действия"
  #actions_widget {
    margin: 20px 0 0 0;
    .certificate {
      width: 30%;
      padding: 16px 0 0 0;
      height: auto;
      float: left;
      box-sizing: border-box;
    }
    .buttons {
      width: 70%;
      float: left;
      .button {
        font-size: 14px;
        width: 100%;
        margin: 10px 0 10px 0;
      }
    }
    @extend %clearfix;
  }

  // Блок "Подвал"
  .footer {
    position: absolute;
    bottom: 0;
  }
  footer {
    // margin: 20px 0 50px 0;
    .g_row {
      padding: 0 0 20px 0;
    }
    #footer_main_menu {
      @include list_style_none;
      display: table-row;
      li {
        display: table-cell;
        padding: 0 5px 0 0;
        color: $text_color;
        &:last-child a:after {
          content: "";
        }
        a {
          color: $text_color;
          text-decoration: none;
          font-size: 12px;
          &:hover {
            color: $attention_color;
          }
          &:after {
            content: "|";
            color: white !important;
            margin-left: 5px;
          }
        }
      }
    }
    #company_copyright {
      color: $text_color;
      font-size: 12px;
      margin: 10px 0 0 0;
      font-style: italic;
    }
  }
}
// Стили для мобильной версии
.mobile {

  overflow-x: hidden;
  padding: 0 0 115px 0;

  .footer {
    position: absolute;
    bottom: 0;
  }

  #main_banner {
    margin: 15px 0 15px 0;
  }

  #photo_slider {
    .left_switcher, .right_switcher {
      top: 50%;
    }
  }

  .image_popup {
    .form_bg {
      width: 100%;
      box-sizing: border-box;
    }
  }

  #register_form {
    .button {
      width: 150px;
    }
  }

  #sale_points_cities {
    padding: 0;
    @include list_style_none;
    li {
      display: inline-block;
      margin: 5px 5px 0 0;
      background-color: $bg_color_6;
      padding: 3px 0 3px 0;
      width: 120px;
      text-align: center;
      a {
        text-decoration: none;
        color: $text_color_3;
        font-size: 14px;
      }
      &.active, &:hover {
        transition: all 1s;
        background-color: $bg_color_1;
        a {
          color: $text_color;
        }
      }
    }
  }

  #sale_points_list {
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    &.active {
      display: block;
    }
    @include list_style_none;
    .list_element {
      width: 100%;
      padding: 15px 0 15px 0;
      border-bottom: 1px solid $border_color_4;
      &:last-child {
        border-bottom: 0;
      }
      .number {
        display: block;
        float: left;
        width: 12px;
        height: 15px;
        border: 5px solid $border_color;
        background: $text_color;
        text-decoration: none;
        font-weight: bold;
        color: $border_color;
        margin: 0 10px 0 0;
        padding: 0 0 0 3px;
        @include border_radius(15px, 15px, 15px, 15px);
      }
      .list_element_info  {
        width: 100%;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        color: $text_color;
        font-size: 12px;
        .link {
          font-size: 16px;
          margin: 0 0 10px 0;
          display: block;
          font-weight: bold;
        }
        .value {
          font-weight: bold;
        }
      }

    }
  }

  #sale_points_show_map {
    background-color: $bg_color_1;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 14px;
    cursor: hand;
    text-decoration: underline;
    color: $text_color;
  }
  // Блок "Точка продажи"
  #sale_point {
    color: $text_color;
    font-size: 12px;
    .sale_point_info {
      .link {
        font-size: 14px;
        display: block;
        margin: 0 0 15px 0;
      }
      .value {
        font-weight: bold;
      }
    }
    .map {
      margin: 20px 0 20px 0;
      width: 100%;
      height: 250px;
      box-sizing: border-box;
    }
  }

  // Основные настройки для мобильной версии
  background-image: none;
  background-color: $bg_color_4;
  .g_row {
    width: 100% !important;
  }
  // Блок "Заголовок страницы"
  .page_header {
    margin: 0 0 15px 10px;
  }
  // Блок "Статус"
  .status_header {
    margin: 10px 0 10px 10px;
  }
  /*** ОСНОВНЫЕ ТЕКСТОВЫЕ ЭЛЕМЕНТЫ ***/
  // Текст
  .text {
    text-align: justify;
  }
  .image {
    width: 100%;
  }
  .date_header {
    margin: 8px 10px 10px 0;
  }
  .input_cnt {
    td {
      padding-bottom: 20px;
    }
  }
  .price_slider {
    width: 86% !important;
    .price_val {
      color: $text_color;
    }
  }
  .calendar_range {
    margin: 0;
    .form_bg {
      width: 100%;
      .calendar_blocks {
        .calendar_block {
          padding: 0;
          float: none !important;
          &:first-child {
            border-right: 0 !important;
            border-bottom: 1px solid $border_color;
            padding: 0 0 10px 0;
          }
          &:last-child {
            padding: 10px 0 0 0;
          }
        }
      }
    }
  }

  // Блок "Список элементов"
  .list_elements {
    @include list_style_none;
    .list_element {
      margin: 5px;
      padding: 15px 0 10px 0;
      border-bottom: 1px solid $border_color_3;
      @extend %clearfix;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      .list_element_info {
        .category {
          text-align: right;
          float: right;
          color: $text_color;
          font-size: 12px;
          .link {
            display: inline;
            margin: 0 0 0 5px;
          }
        }
        .label {
          padding: 10px 0 10px 0;
          color: $text_color;
          font-size: 16px;
          font-weight: bold;
        }
        .text {
          margin: 0;
        }
        .link {
          margin: 10px 0 0 0;
          float: right;
        }
      }
    }
  }
  // Блок "Шапка"
  header {
    margin: 0 0 15px 0;
    #header_menu_btn, #header_auth_btn {
      margin: 10% 0 0 20px;
      width: 25px;
      height: auto;
      cursor: hand;
      display: inline-block;
      img {
        width: 100%;
        height: auto;
      }
    }
    #header_logo {
      a {
        display: block;
        margin: 0 auto;
        text-align: center;
        img {
          width: 100%;
          max-width: 150px;
          height: auto;
        }
      }
    }
    #header_main_menu {
      display: none;
      @include list_style_none;
      margin: 0 0 0 15px;
      li {
        margin: 0 0 10px 0;
        a {
          font-size: 14px;
          text-decoration: none;
          color: $text_color;
          &:hover {
            color: $attention_color;
          }
        }
        .sub_menu {
          list-style: none;
          padding: 10px 0 0 20px;
        }
      }
    }
    #add_action_panel {
      //padding: 40px 0 0 0;
    }
    #auth_form {
      display: none;
    }
    #header_small_contacts.contacts_phone_number {
      margin: 28px 10px 0 0;
      text-align: right;
      a {
        text-decoration: none;
        color: $text_color;
        .city_code {
          font-size: 10px;
        }
        .phone_number {
          font-weight: bold;
          font-size: 3.5vw;
        }
      }
    }
  }
  .text_area {
    padding: 0 15px 0 15px;
    box-sizing: border-box;
  }
  // Блок "Дополнительная панель для карточки элемента"
  .add_card_panel {
    .buy_ticket {
      float: right;
    }
  }
  .image_block {
    width: 100%;
    height: auto;
    padding: 0 0 15px 0;
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      @include border_radius(0px, 0px, 0px, 0px);
    }
  }
  // Стили "Список событий"
  .events_list {
    @include list_style_none;
    @extend %clearfix;
  }
  .event_block {
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
    a {
      width: 100%;
      display: block;
      overflow: hidden;
      height: 150px;
      @include border_radius(0px, 0px, 0px, 0px);
      border: 1px solid $border_color;
      transition: all 1s;
      &:hover {
        @extend %block_blur;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .button_cnt {
      position: absolute;
      bottom: 8%;
      width: 100%;
      text-align: center;
      .button {
        position: static;
        margin: 0 auto;
      }
    }
    .event_info {
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px;
      box-sizing: border-box;
      height: auto;
      @include border_radius(0px, 0px, 0px, 0px);
      position: absolute;
      background-color: $bg_color_1;
      color: $text_color;
      .date, .time {
        display: inline-block;
        font-size: 16px;
      }
      .day {
        right: 12px;
        top: 11px;
        position: absolute;
        font-size: 14px;
        text-transform: uppercase;
      }
      .time {
        margin: 0 0 0 5px;
      }
      .place {
        top: 12px;
        right: 55px;
        left: auto;
        bottom: auto;
        position: absolute;
        font-size: 12px;
      }
      .delimiter {
        height: 100%;
        position: absolute;
        width: 1px;
        background-color: $text_color;
        right: 40px;
        top: 0;
      }
    }
    .event_price {
      bottom: 30px;
      right: 0;
      left: auto;
      top: auto;
      position: absolute;
      background-color: $bg_color_1;
      width: 90px;
      padding: 5px;
      font-size: 14px;
      color: $text_color;
      text-align: center;
      @include box_shadow(0,0,5px,0,$shadow_color);
    }
  }
  // Блок "Последние события"
  #last_events {
    .g_col_m_12 {
      padding: 0;
    }
  }
  // Блок "События"
  #events {
    .g_col_m_12 {
      padding: 0;
      margin: 15px 0 0 0;
    }
  }
  //
  // Блок "Переключатель отображения фильтра"
  #events_list_switcher {
    padding: 10px 0 10px 0;
    margin: 5px 0 10px 0;
    background-color: $bg_color_1;
    transition: none;
    @include box_shadow(0,0,5px,0,$shadow_color);
    .showed_list, .hidden_list {
      text-align: center;
      cursor: hand;
      color: $text_color;
      text-decoration: underline;
      display: none;
      transition: none;
    }
    .hidden_list {
      display: block;
      transition: none;
    }
  }
  // Блок "Панель фильтрации списка событий"
  #events_filter_panel {
    display: none;
    #filter_events_form {
      width: 100%;
      margin: 0;
      .inputs {
        width: 100%;
      }
      .button_cnt {
        width: 100%;
        text-align: center;
        margin: 10px 0 0 0;
        .button {
          @extend %big_button;
        }
      }
    }
  }
  // Блок "Поиск"
  #search_result {
    .search_info {
      font-size: 12px;
      margin-bottom: 20px;
      .info, .actions {
        text-align: center;
        font-size: 12px;
        color: $text_color;
      }
      .choosen {
        font-weight: bold;
      }
    }
  }
  // Блок "Корзина", Блок "Заказ"
  #cart, #order {
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    .table {
      width: 100%;
      overflow: hidden;
      position: relative;
      table {
        width: 100%;
        font-size: 12px;
      }
    }
    #clear_cart {
      color: $text_color;
      font-size: 12px;
      position: absolute;
      bottom: 65px;
      left: 15px;
    }
    .button {
      //margin: 20px 0 0 auto;
      display: block;
      @extend %average_button;
    }
    .clear_table {
      color: $text_color;
    }
  }
  // Блок "Профиль пользователя"
  #user_profile {
    .form_bg {
      box-sizing: border-box;
      margin: 10px;
    }
    #user_profile_form, #reset_password_form {
      padding: 15px 0 0 0;
      border-top: 1px solid $bg_color_5;
      .button {
        margin: 0 0 0 auto;
        display: block;
      }
    }
  }
  // Блок "Подвал"
  footer {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    margin: 0;
    #footer_contacts {
      * {
        text-align: left;
      }
    }
    #company_copyright {
      margin: 20px 0 0 0;
      color: $text_color;
      font-size: 12px;
      font-style: italic;
    }
    #no_mobile {
      margin: 10px 0 0 0;
      a {
        color: $attention_color;
        font-size: 12px;
      }
    }
  }
}

#maps {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    height: 400px;
    width: 100%;
    display: none;
    &.active {
      display: block;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
  }
  .form_bg {
    height: auto;
    background: $bg_color_3;
    width: 200px;
    text-align: center;
    margin: 60px auto 0 auto;
    .text {
      display: none;
    }
    form {
      input[type=text], textarea {
        margin: 10px 0 10px 0;
      }
      .error {
        display: block;
        margin: 0 0 10px 0;
        color: red;
        font-size: 10px;
        display: none;
      }
    }
  }
}
.image_popup {
  .form_bg {
    width: 900px;
    img {
      cursor: hand;
      width: 100%;
    }
  }
}
.calendar_range {
  .form_bg {
    width: 538px;
    .calendar_blocks {
      margin: 0 auto;
      display: inline-block;
      .calendar_block {
        float: left;
        padding-right: 20px;
        padding-left: 20px;
        height: 182px;
        #calendar_of, #calendar_to {
          position: relative;
        }
        &:first-child {
          border-right: 1px solid $border_color;
        }
        .ui-state-active {
          background-color: $bg_color_7;
          border: 1px solid $border_color_5;
        }
      }
      @extend %clearfix;
    }
    .buttons {
      margin: 20px 0 0 0;
      .button {
        margin: 0 20px 0 20px;
      }
    }
  }
}

.price_slider {
  &.ui-slider-horizontal {
    width: 100%;
    height: 5px;
    background: $bg_color_8;
    position: relative;
    @include border_radius(2px, 2px, 2px, 2px);
    .ui-slider-range {
      position: relative;
      height: 5px;
      background: $bg_color_9;
    }
    .ui-slider-handle {
      width: 24px;
      height: 24px;
      background: url(../images/price_bullet.png) no-repeat;
      position: absolute;
      display: block;
      outline: none;
      top: -10px;
      .price_val {
        position: absolute;
        bottom: -15px;
        left: -25px;
        font-size: 11px;
        width: 80px;
        text-align: center;
      }
    }
  }
}

.schema_header {
  padding-bottom: 15px;
  border-bottom: 1px solid $border_color_2;
  .schema_hall_name {
    width: 100%;
    padding: 10px;
    color: white;
    background: $bg_color_9;
    font-size: 22px;
    box-sizing: border-box;
    font-weight: bold;
  }
  .schema_event_name {
    text-align: center;
    color: white;
    font-size: 22px;
  }
  .schema_date_name {
    .event_info {
      position: absolute;
      top: 0;
      right: 9px;
      background-color: $bg_color_1;
      width: 100%;
      padding: 5px;
      height: 40px;
      color: $text_color;
      .date {
        font-size: 18px;
      }
      .time {
        font-size: 16px;
      }
      .place {
        position: absolute;
        font-size: 12px;
        bottom: 5px;
        left: 5px;
      }
      .delimiter {
        position: absolute;
        width: 1px;
        height: 50px;
        background-color: $text_color;
        right: 40px;
        top: 0;
      }
      .day {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

  }
}

.cart_cnt {
  width: 100%;
  position: absolute;
  bottom: -120px;
  z-index: 900;
  .cart_panel {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: $bg_color_11;
    color: $text_color_4;
    @include border_radius(10px, 10px, 10px, 10px);
    .user {
      text-align: center;
      padding: 0 0 5px 0;
      font-size: 12px;
      border-bottom: 1px solid $border_color_6;
    }
    .price_values {
      padding: 15px 0 15px 0;
      text-align: center;
      .count, .total {
        color: $text_color_1;
        font-weight: bold;
      }
    }

    .btns {
      #checkout {
        //float: right;
        width: 155px;
        margin: 0 auto;
        display: block;
      }
      #user_cabinet {
        float: left;
        width: 155px;
      }
      @extend %clearfix;
    }
  }
}

.popup_cnt {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .title {
    padding: 10px;
  }
  .btns {
    padding: 10px 0 10px 0;
    width: 300px;
    #accept_tickets, #abort_tickets {
      float: left;
      margin-right: 10px;
    }
    @extend %clearfix;
  }
  .table {
    padding: 10px;
    td:last-child {
      width: auto !important;
    }
    .btn {
      margin: 0;
      display: block;
    }
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: -1;
  }
  .form_bg {
    height: auto;
    width: 700px;
    text-align: center;
    margin: 60px auto 0 auto;
    z-index: 1000;
    background: white;
    .container_2 {
      padding: 10px 20px 10px 20px;
      box-sizing: border-box;
      position: relative;
    }
    .text {
      display: none;
    }
    form {
      input[type=text] {
        margin: 10px 0 10px 0;
      }
      .error {
        display: none;
      }
    }
  }
}

/*
.hall_schema {
  width: 100%;
  height: auto;
  .marking {
    width: 87%;
    float: left;
    .scene {
      width: 100%;
      .scene_img {
        position: relative;
        width: 93%;
        padding: 5px 0 14px 0;
        height: 10px;
        color: $text_color;
        text-align: center;
        overflow: hidden;
        float: right;
        @include border_radius(0, 0, 100px, 100px);
        .bg {
          width: 100%;
          height: 100%;
          background: $bg_color_10;
          opacity: 0.7;
          position: absolute;
          z-index: -1;
        }
      }
      @extend %clearfix;
    }
    .schema {
      width: 100%;
      position: relative;
      .group {
        width: 100%;
        margin: 15px 0 15px 0;
        .header {
          width: 100%;
          color: $text_color;
          margin: 10px 0 10px 0;
          .label {
            text-align: center;
            margin-left: 7%;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        .lines {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: block;
          margin: 0;
          padding: 0;
          list-style: none;
          margin-top: -5px;
          z-index: -1;
          li {
            display: block;
            width: 100%;
            height: 12px;
            border-bottom: 1px solid #d5d5d5;
            margin-bottom: 6px;
          }
        }
        .rows {
          width: 7%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          height: 15px;
          li {
            margin-bottom: 4px;
            display: block;
            height: 100%;
            &.button {
              width: 50px;
              font-size: 10px;
              padding: 0;
              line-height: 12px;
              height: 13px;
            }
          }
        }
        .places {
          width: 93%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          li.row {
            width: 100%;
            height: 15px;
            margin-bottom: 4px;
            ul {
              text-align: center;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              li.seat {
                display: inline-block;
                height: 11px;
                font-size: 11px;
                padding: 2px 4px 2px 4px;
                margin: 0 2px 0 2px;
                @include border_radius(2px, 2px, 2px, 2px);
                cursor: hand;
                position: relative;
                vertical-align: top;
                line-height: 11px;
                background: white;
                .info_block {
                  position: absolute;
                  font-size: 12px;
                  background: $bg_color_11;
                  top: -55px;
                  left: -16px;
                  width: 190px;
                  padding: 7px;
                  line-height: 14px;
                  @include border_radius(5px, 5px, 5px, 5px);
                  .price, .range, .place {
                    font-weight: bold;
                  }
                  .close {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    cursor: hand;
                  }
                  .arrow {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    bottom: -10px;
                    left: 12px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $bg_color_11;
                  }
                }
                &.weight_1 {
                  width: 14px;
                }
                &.weight_2 {
                  width: 36px;
                }
                &.weight_3 {
                  width: 54px;
                }
                &.active {
                  background: red !important;
                }
                &.non_active {
                  background: initial !important;
                }
              }
              li.seat[data-state='disabled'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='booked'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='bought'] {
                background: $bg_color_12 !important;
              }
            }
          }
        }
        @extend %clearfix;
      }

    }
  }
  .legend {
    width: 13%;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    .form_bg {
      padding: 5px 10px 5px 10px;
      .element {
        width: 100%;
        .block {
          width: 15px;
          height: 15px;
          float: left;
          background: red;
          @include border_radius(2px, 2px, 2px, 2px);
          margin-right: 12px;
        }
        .text {
          margin: 10px 0 5px 0;
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
  }
  @extend %clearfix;
}
*/

.buy_link {
  width: auto !important;
  height: auto !important;
}

.result_stage {
  .result {
    text-align: center;
    font-size: 18px;
    color: $text_color;
  }
}

.stage {
  overflow: hidden;
  padding-bottom: 25px;
  &.payment_stage {
    .result {
      color: $text_color;
      padding: 15px 0 15px 0;
    }
  }
  .stage_header {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    li {
      width: 100%;
      text-align: center;
      background: $bg_color_8;
      a {
        padding: 5px 0 5px 0;
        color: $text_color;
        font-size: 12px;
        display: block;
        text-decoration: none;
        -webkit-box-shadow: inset 0px -5px 17px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px -5px 17px -1px rgba(0,0,0,0.3);
        box-shadow: inset 0px -5px 17px -1px rgba(0,0,0,0.3);
      }
    }
  }
  .stage_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $bg_color_8;
    height: 24px;
  }
}


@media only screen and (min-width: 450px) and (max-width: 600px) {
  .mobile {
    .event_block {
      a {
        height: 200px;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
  .mobile {
    .event_block {
      a {
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
  .mobile {
    .event_block {
      a {
        height: 300px;
      }
    }
  }
}

.confirm_stage {
  .error {
    font-size: 10px;
    color: red;
    margin-bottom: 10px;
  }
}
.order_error {
  font-size: 10px;
  color: red;
  margin-bottom: 10px;
}

#robokassa {
  margin-bottom: 0;
}

.non_available {
  background: red !important;
}

#confirm_book .table {
  margin-bottom: 25px;
}

.dancing {
  color: white;
  padding: 20px;
  text-align: center;
  cursor: hand;
}

.dancing_room_count {
  color: #555;
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .field {
    padding-bottom: 15px;
  }
  .btns {
    .btn {
      margin-right: 10px;
      float: left;
    }
  }
}

.dancing.active {
  background: red !important;
}
