#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema

      // Партер
      - sector_object = @parter
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = sector_object.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{ row }"
        ul.places
          - grouped_seats.each do |seat|
            - if seat.number == 1 && seat.row != 1
              </ul></li>
            - if seat.number == 1
              <li class='row'><ul>
            - ticket = seat.tickets.first
            = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
          </ul></li>

      // Амфитеатр
      .group
        .header
          .label
            = @amfiteatr.name

        - grouped_seats = get_grouped_seats @vip1, @event_item
        .sub_group.aksion_vip_1
          .header
            .label
              = @vip1.name
          ul.places
            - grouped_seats.each do |seat|
              - if seat.number == 1 && seat.row != 1
                </ul></li>
              - if seat.number == 1
                <li class='row'><ul>
              - ticket = seat.tickets.first
              = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
            </ul></li>

        - grouped_seats = get_grouped_seats @vip2, @event_item
        .sub_group.aksion_vip_2
          .header
            .label
              = @vip2.name
          ul.places
            - grouped_seats.each do |seat|
              - if seat.number == 1 && seat.row != 1
                </ul></li>
              - if seat.number == 1
                <li class='row'><ul>
              - ticket = seat.tickets.first
              = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
            </ul></li>

        - sector_object = @amfiteatr
        - rows = get_hall_rows sector_object
        - grouped_seats = get_grouped_seats sector_object, @event_item

        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"

        ul.places
          - grouped_seats.each do |seat|
            -if  seat.number == 1 && seat.row != 12
              </ul></li>
            - if seat.number == 1
              <li class='row'><ul>
            - ticket = seat.tickets.first
            = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: seat.sector_group
            - if (seat.row == 12) && (seat.number == 15)
              - 5.times do |index|
                li.seat.non_active
                  - if index == 0
                    .aksion_pult_panel
                      .bg Пульт

            - if (seat.row == 13) && (seat.number == 15)
              =place_empty_seats 5

      // Балкон
      - sector_object = @balkon
      - rows = get_hall_rows sector_object
      - grouped_seats = get_grouped_seats sector_object, @event_item
      .group
        .header
          .label
            = @balkon.name
        ul.lines
          - rows.each do |_|
            li
        ul.rows
          - rows.each do |row|
            li.button
              = "Ряд #{row}"
        ul.places
          - grouped_seats.each do |seat|
            - if seat.number == 1 && seat.row != 24
              </ul></li>
            - if seat.number == 1
              <li class='row'><ul>
            - ticket = seat.tickets.first
            = render "desktop/schemas/place", seat: seat, ticket: ticket, sector_object: sector_object
            - if (seat.row == 29) && (seat.number == 42)
              li.seat.non_active
          </ul></li>
