// toDO: hidden_field_tag убирай под тег формы
= form_for @item do |f|
  = render_form(f, @fields).html_safe
  = f.submit t('labels.buttons.save'), class: "btn blue_btn"
= hidden_field_tag 'static_page_non_removable', @item.non_removable, {:id => "static_page_non_removable"}