.aksion_pult_panel {
  width: 86px;
  height: 30px;
  z-index: 10;
  position: absolute;
  line-height: 30px;
  border: 1px solid $border_color;
  @include border_radius(5px, 5px, 5px, 5px);
  overflow: hidden;
  color: white;
  font-size: 10px;
  .bg {
    opacity: 0.5;
    background-color: #2f2f2f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.sub_group {
  .header {
    .label {
      font-size: 8px !important;
      margin: 0 !important;
    }
  }
  @extend %clearfix;
}

.aksion_vip_1 {
  width: 50px;
  position: absolute;
  left: 70px;
  top: 28px;
}

.aksion_vip_2 {
  width: 50px;
  position: absolute;
  right: 9px;
  top: 28px;
}