#cyrk_schema {

  &.full {
    position: relative;
    width: 87%;
    float: left;
    height: auto;
  }

  .image_cnt {
    display: block;
    margin:  0 auto;
    width: 60%;
    height: auto;
    min-width: 600px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

  }

  // links
  .sector {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .c_amfiteatr_1 {
    bottom: 16%;
    right: 14%;
  }

  .c_amfiteatr_2 {
    bottom: 7%;
    right: 41%;
  }

  .c_amfiteatr_3 {
    bottom: 15%;
    left: 15%;
  }

  .c_amfiteatr_4 {
    bottom: 46%;
    left: -1%;
  }

  .c_amfiteatr_5 {
    top: 17%;
    left: 13%;
  }

  .c_amfiteatr_6 {
    top: 7%;
    left: 41%;
  }

  .c_amfiteatr_7 {
    top: 16%;
    left: 68%;
  }

  .c_parter_1 {
    left: 23%;
    top: 43%;
  }

  .c_parter_2 {
    left: 66%;
    top: 43%;
  }

  .c_parter_3 {
    left: 23%;
    top: 54%;
  }

  .c_parter_4 {
    left: 66%;
    top: 54%;
  }

  // sectors
  #c_amfiteatr_1, #c_amfiteatr_2, #c_amfiteatr_3, #c_amfiteatr_4, #c_amfiteatr_5,
  #c_amfiteatr_6, #c_amfiteatr_7, #c_parter_1, #c_parter_2, #c_parter_3, #c_parter_4 {
    .marking {
      min-width: 900px;
    }
  }
}
