@import "aksion";
@import "cyrk";
@import "izhstal";
@import "metallurg";
@import "opera_theatre";

.hall_schema {
  width: 100%;
  height: auto;
  .marking {
    // izhstal schemes looks weird. flyr1q
    // width: 87%;
    float: left;

    .scene {
      width: 100%;
      .scene_img {
        position: relative;
        width: 93%;
        height: 13px;
        padding: 5px 0 5px 0;
        color: $text_color;
        text-align: center;
        overflow: hidden;
        float: right;
        text-transform: capitalize;
        font-size: 12px;
        @include border_radius(0, 0, 100px, 100px);
        .bg {
          width: 100%;
          height: 100%;
          background: $bg_color_10;
          opacity: 0.7;
          position: absolute;
          padding-top: 4px;
          z-index: -1;
          top: 0;
        }
      }
      @extend %clearfix;
    }

    .schema {
      width: 100%;
      position: relative;
      @extend %clearfix;
      .group {
        width: 100%;
        margin: 15px 0 15px 0;
        position: relative;
        .header {
          width: 100%;
          color: $text_color;
          margin: 10px 0 10px 0;
          height: 13px;
          .label {
            text-align: center;
            margin-left: 7%;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        .lines {
          position: absolute;
          opacity: 0.25;
          top: 18px;
          left: 0;
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;
          z-index: -1;
          li {
            display: block;
            width: 100%;
            height: 12px;
            border-bottom: 1px solid $border_color_7;
            margin-bottom: 6px;
          }
        }
        .rows {
          width: 7%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          height: 15px;
          li {
            margin-bottom: 4px;
            display: block;
            height: 100%;
            &.button {
              width: 50px;
              font-size: 10px;
              padding: 0;
              line-height: 12px;
              height: 13px;
            }
          }
          @extend %clearfix;
        }
        @extend %clearfix;
        .places {
          width: 93%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          li.row {
            width: 100%;
            height: 15px;
            margin-bottom: 4px;
            ul {
              text-align: center;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              li.seat {
                display: inline-block;
                height: 11px;
                font-size: 11px;
                padding: 2px 0 2px 0;
                width: 14px;
                margin: 0 2px 0 2px;
                @include border_radius(2px, 2px, 2px, 2px);
                cursor: hand;
                position: relative;
                vertical-align: top;
                line-height: 11px;
                background: white;
                .info_block {
                  position: absolute;
                  font-size: 12px;
                  background: $bg_color_11;
                  z-index: 10;
                  top: -80px;
                  left: -15px;
                  width: 190px;
                  padding: 7px;
                  line-height: 14px;
                  @include border_radius(5px, 5px, 5px, 5px);
                  .price, .range, .place {
                    .value {
                      font-weight: bold;
                    }
                  }
                  .close {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    cursor: hand;
                  }
                  .arrow {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    bottom: -10px;
                    left: 12px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $bg_color_11;
                  }
                }
                &.weight_2 {
                  width: 36px;
                }
                &.weight_3 {
                  width: 54px;
                }
                &.active {
                  background: white !important;
                }
                &.non_active {
                  background: initial !important;
                }
              }
              li.seat[data-state='disabled'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='booked'] {
                background: $bg_color_12 !important;
              }
              li.seat[data-state='bought'] {
                background: $bg_color_12 !important;
              }
            }
          }
        }
        @extend %clearfix;
      }

    }
  }
  .legend {
    width: 13%;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    .form_bg {
      padding: 5px 10px 5px 10px;
      .element {
        width: 100%;
        .block {
          width: 15px;
          height: 15px;
          float: left;
          background: red;
          @include border_radius(2px, 2px, 2px, 2px);
          margin-right: 12px;
        }
        .text {
          margin: 10px 0 5px 0;
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
  }
  @extend %clearfix;
}
