#izhstal_schema {

  &.full {
    position: relative;
    width: 87%;
    float: left;
    height: auto;
  }

  .image_cnt {
    display: block;
    margin:  0 auto;
    width: 60%;
    height: auto;
    min-width: 600px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

  }

  // links
  .sector {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .i_sector_1 {
    top: 13%;
    right: 3%;
  }

  .i_sector_2 {
    top: 32%;
    right: 3%;
  }

  .i_sector_3 {
    top: 48%;
    right: 3%;
  }

  .i_sector_4 {
    top: 64%;
    right: 3%;
  }

  .i_sector_5 {
    top: 84%;
    right: 3%;
  }

  .i_sector_6a {
    bottom: 3%;
    left: 33%;
  }

  .i_sector_6b {
    bottom: 3%;
    left: 54%;
  }

  .i_sector_7 {
    top: 84%;
    left: 2%;
  }

  .i_sector_8 {
    top: 64%;
    left: 2%;
  }

  .i_sector_9 {
    top: 48%;
    left: 2%;
  }

  .i_sector_10 {
    top: 32%;
    left: 2%;
  }

  .i_sector_11 {
    top: 13%;
    left: 2%;
  }

  .i_dancing_room {
    left: 44%;
    top: 65%;
  }

  .i_fanzone {
    left: 44%;
    top: 41%;
  }

  // sectors
  #i_sector_1 {
    .places {
      width: 105%;
    }
  }

  #i_sector_2 {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_3 {
    margin-left: 100px;

    .marking {
      min-width: 600px;
    }
  }

  #i_sector_4 {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_5 {
    .places {
      width: 105%;
    }
  }

  #i_sector_6a {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_6b {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_7 {
    .places {
      width: 105%;
    }
  }

  #i_sector_8 {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_9 {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_10 {
    .marking {
      min-width: 900px;
    }
  }

  #i_sector_11 {
    .places {
      width: 105%;
    }
  }

  #i_dancing_room {
    .marking {
      min-width: 900px;
    }
  }
}
