.metallurg_loga_1 {
  width: 265px;
  position: absolute;
  left: -20px;
  bottom: -90px;
}

.metallurg_loga_2 {
  width: 265px;
  position: absolute;
  right: -90px;
  bottom: -90px;
}

.metallurg_balkon {
  margin-top: 90px;
}

#metallurg_with_dancing, #metallurg_without_dancing {
  .marking {
    min-width: 900px;
  }
}
