#opera_theatre {
  position: relative;

  .places {
    margin-left: 100px;
  }
}

.opera_theatre_pandus_left {
  width: 50px;
  position: absolute;
  left: -2%;
  bottom: -70px;
  z-index: 2;

  .sub_header {
    text-align: left;
    margin-left: 100px;
    color: #fff;
    padding-bottom: 5px;
  }
}

.opera_theatre_pandus_right {
  width: 50px;
  position: absolute;
  right: 4%;
  bottom: -70px;
  z-index: 2;

  .sub_header {
    text-align: right;
    margin-left: 100px;
    color: #fff;
    padding-bottom: 5px;
  }
}
