| Покупка билетов PlanB
br
 = "Мероприятие: #{@payment.event_item.name}"
br
 = "Пользователь: #{@user.first_name} #{@user.last_name}. Email: #{@user.email}. Телефон: #{@user.phone}"
br
 = "Номер заявки: #{@payment.number}"
br
 = "Тип заявки: #{@payment.payment_type.name}"
br
 = "Билеты:"
 ul
   - @payment.tickets.each do |ticket|
     li
       = "Ряд: #{ticket.seat_item.row}, Место: #{ticket.seat_item.number}, Цена: #{ticket.price}"