.g_row.form_cnt
  .form_bg
    .bg

    .g_col_d_12
      .header
        = t("users.register_new_user")
      - if !flash[:register_error].nil?
        .error_line
          = flash[:register_error]

    .g_col_d_6
      p
        = @pay_desc

      = form_tag "http://test.robokassa.ru/Index.aspx", id: "payment", method: "post"
        = hidden_field_tag "MrchLogin", "demo"
        = hidden_field_tag "OutSum", "11"
        = hidden_field_tag "InvId", "0"
        = hidden_field_tag "Desc", "Тестовая покупка"
        = hidden_field_tag "SignatureValue", Digest::MD5.hexdigest("demo:11:0:password_1")
        = submit_tag "Оплатить"

      = link_to "Кликни", "http://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin=demo&OutSum=11.00&InvoiceID=&Description=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0+%D0%B2+%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%BC+%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B5+ROBOKASSA&shp_Item=1&Culture=ru&Encoding=utf-8&SignatureValue="+@pay_desc['crc']

    .g_col_d_6
      .text_area
        p
          | Регистрация на сайте PlanB позволит Вам:
        ul.bullet_list
          li
            | Покупать и бронировать билеты на мероприятия
          li
            | Принимать участие в акциях


