html
  head
    title
      | Панель администрирования
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.blue_interface class="#{current_system_user.system_user_role.alias}"
    .frame

      header
        .label
          = t("headers.system_name")
        ul
          - if current_system_user.system_user_role.alias == "administrator"
            li
              = link_to "Права доступа", "/admin/access_rights"
          - if current_system_user.system_user_role.alias == "administrator"
            li
              = link_to "Лог событий", "/admin/actions_log_records"
          - if current_system_user.system_user_role.alias == "administrator"
            li
              = link_to "Настройки", "/admin/settings"
          li
            = generate_sign_out_link(current_system_user, system_users_authorize_d.sign_out_path)

      = render 'shared/flash_messages'

      aside
        .user
          .text
            .login
              = current_system_user.login
            .state
              = current_system_user.system_user_role.name
        nav
          = render_menu(@menu_items)
      .content
        .header
          - if !@object.nil?
            - if @object[:header_label].nil?
                .label
                  = (!@module_item.nil?) ? @module_item.name : ""
            - else
              .label
                = @object[:header_label]
          - if !@object.nil?
            - if !@object[:breadcrumbs].nil?
              ul.breadcrumbs
                - @object[:breadcrumbs].each do |key, value|
                  - if !value.nil?
                    li
                      = link_to value
                        = key
                  - else
                    li
                      = key
        .block
          = yield
