html
  head
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    title
      = get_site_title(@breadcrumbs)
  body
    = yield