html
  head
    title
      = get_site_title(@breadcrumbs)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"
    = csrf_meta_tags
  body.desktop
    .main_bg
    = render "desktop/elements/bg"
    .section
      = render 'shared/flash_messages'
      = render "desktop/elements/header"
      = render "desktop/elements/long_banner"
      = render "desktop/elements/widget_panel"
      - if !(@is_breadcrumbs == false)
        = render "desktop/elements/breadcrumbs"
      = render "desktop/elements/page_header_with_btns"
      = yield
    .section.footer
      = render "desktop/elements/footer"
    = render "desktop/elements/call_popup"
