html
  head
    title
      = get_site_title(@breadcrumbs)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.desktop
    .main_bg
    .section.main_blur
      .g_row
        .top_shadow
        .down_shadow
        .bg
    .section
      = render 'shared/flash_messages'
      = render "desktop/elements/header"
      = render "desktop/elements/events_panel"
      = render "desktop/elements/widget_panel"
      = yield
      = render "desktop/elements/partners"
    .section.footer
      = render "desktop/elements/footer"
    = render "desktop/elements/call_popup"
