html
  head
    title
      = get_site_title(@breadcrumbs)
    meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"
  body.mobile
    = render "desktop/elements/bg"
    .section
      = render "mobile/elements/header"

      - if @enable_banner != nil
        div.slider#main_banner
          ul.slider_children
            - @banners.each do |banner|
              li
                - if banner.link != ""
                  - if !banner.event_item.nil?
                    .button.average_button
                      | купить билет
                  a href=(banner.link)
                    = image_tag banner.image.url(:slider)
                - else
                  - if !banner.event_item.nil?
                    .button.average_button
                      | купить билет
                    = link_to Rails.application.routes.url_helpers.events_path + "/#{banner.event_item.id}"
                      = image_tag banner.image.url(:slider)
                  - else
                    = link_to "#"
                      = image_tag banner.image.url(:slider)

          ul.slider_paginator
            - @banners.each do |banner|
              li

      .g_row
        .g_col_d_1.g_col_m_1
        .g_col_d_10.g_col_m_10
          #search_form_cnt
            = render "mobile/elements/search_form"
        .g_col_d_1.g_col_m_1
      - if !@page_header.nil?
        = render "desktop/elements/page_header"
      = yield
    .section.footer
      = render "mobile/elements/footer"
    = render "desktop/elements/call_popup"